@model TAPI_Interviewer.Models.SP_SHOUSE2021NH_GETLISTResult
           
<html>
<head>
    @{
        ViewBag.Title = "가구 세부 정보";
    }
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#address1").val("@Model.수정시도");
            $("#address2").val("@Model.수정시군구");
            $("#address").val("@(new HtmlString(Model.수정상세주소))");
            $("#dongho").val("@Model.수정동호");

            $("#edit_tel1_1").val("@ViewBag.tel1_1").attr("selected", "selected");
            $("#edit_tel1_2").val("@ViewBag.tel1_2");
            $("#edit_tel1_3").val("@ViewBag.tel1_3");

            $("#edit_tel2_1").val("@ViewBag.tel2_1").attr("selected", "selected");
            $("#edit_tel2_2").val("@ViewBag.tel2_2");
            $("#edit_tel2_3").val("@ViewBag.tel2_3");

            $("#contactCount").val("@Model.최종_접촉_횟수");

            $(":radio[name='contact']").filter('[value="@(Model.최종_접촉_결과)"]').prop('checked', true);
            $(":radio[name='atype']").filter('[value="@(Model.조사방법)"]').prop('checked', true);

            $("#etc").val("@Model.특이사항");

            $("#ok").click(function () {
                saveContactOK("ok");
            });

            $("#survey").click(function () {
                saveContactOK("survey");
            });

            $("#cancel").click(function () {
                window.location.href = "./PanelInfo?hid=@Model.HID&stype=2";
            });

            $('input[type=tel]').keydown(function (event) {
                var charCode = (event.which) ? event.which : event.keyCode;

                if (isNumeric(charCode, this) == false) {
                    event.preventDefault();
                }
            });
        });

        function saveContactOK(type) {
            var address1 = $('#address1').val();
            var address2 = $('#address2').val();
            var address = $('#address').val();
            var dongho = $.trim($('#dongho').val());

            if (address != '' && dongho == '') {
                alert('변경 주소를 모두 입력 해 주세요.');
                return;
            }

            var edit_tel1 = $("#edit_tel1_1 option:selected").val() + '-' + $('#edit_tel1_2').val() + '-' + $('#edit_tel1_3').val();
            var edit_tel2 = $("#edit_tel2_1 option:selected").val() + '-' + $('#edit_tel2_2').val() + '-' + $('#edit_tel2_3').val();

            if (edit_tel1.length > 2 && ($('#edit_tel1_2').val().length < 3 || $('#edit_tel1_3').val().length < 4)) {
                alert('변경 집전화를 모두 입력 해 주세요.');
                return;
            }

            if (edit_tel2.length > 2 && ($('#edit_tel2_2').val().length < 3 || $('#edit_tel2_3').val().length < 4)) {
                alert('변경 휴대전화를 모두 입력 해 주세요.');
                return;
            }

            if(edit_tel1=='--' && edit_tel2=='--')
            {
                alert('변경 연락처(집전화 혹은 휴대전화)를 입력해주세요.');
                return;
            }

            var contactCount = $('#contactCount').val();

            if (contactCount == undefined || contactCount == '') {
                alert('방문횟수를 입력 해 주세요.');
                return;
            }

            var status = $(":radio[name='contact']:checked").val();
            var etc = $('#etc').val();

            if (status == undefined || status == '') {
                alert('방문결과를 선택 해 주세요.');
                return;
            }

            var atype = $(":radio[name='atype']:checked").val();            
            if (type == 'survey' && (atype == undefined || atype == '')) {
                alert('조사방법을 선택 해 주세요.');
                return;
            }
            if( atype == undefined )
            {
                atype='';
            }
        

            if (status == '기타' && etc == '') {
                alert('특이사항을 입력 해 주세요.');
                return;
            }

            if (type == 'survey' && status != '조사 협조') {
                alert('"1. 조사 협조"를 선택 해 주세요.');
                return;
            }

            if (type == 'ok' && status != '조사 협조' && '@Model.최종_접촉_결과' == '조사 협조') {
                if (!confirm("데이터가 있습니다. 비성공 하시겠습니까?")) {
                    return;
                }
            }

            address2 = address2.replace(/&#160;/g, " ");
            address = address.replace(/&#160;/g, " ");

            $.post("./HContactOK", { "hid": '@Model.HID', "address1": address1, "address2": address2, "address": address, "dongho": dongho, "edit_tel1": edit_tel1, "edit_tel2": edit_tel2, "status": status, "etc": etc, "contactCount": contactCount, "atype":atype, "stype": @ViewBag.stype }, function (result) {
                if (type == 'survey') {
                    window.location.href = './HouseSurvey?hid=@Model.HID&status=@Model.가구진행상태&stype=@ViewBag.stype';
                }
                else {
                    alert('저장 되었습니다.');
                    window.location.href = "./PanelInfo?hid=@Model.HID&stype=@ViewBag.stype";
                }
            }).error(function (jqXHR, status, error) {
                alert(status);
                alert(error);
            });
        }

        function jusoPopUp() {
            document.getElementById('popAddrSearch').style.display = 'block';
            $("#popAddrSearch").focus();
        }

        function openApiDivCallBack(roadFullAddr, roadAddrPart1, roadAddrPart2, engAddr, jibunAddr, zipNo, admCd, rnMgtSn, bdMgtSn, detBdNmList, siNm, sggNm, emdNm) {
            $('#address').val(roadAddrPart1);
            $('#dongho').val('');
            $('#address1').val(siNm);
            $('#address2').val(sggNm);

            document.getElementById('popAddrSearch').style.display = 'none';  //div 닫기
            $('#dongho').focus();
        }

        function closeLayerPopUp() {
            document.getElementById('popAddrSearch').style.display = 'none';
            $("#searchJusoButton").focus();
        }

        //도로명 엔터키 검색
        function enterSearchDiv() {
            var evt_code = (window.netscape) ? ev.which : event.keyCode;
            if (evt_code == 13) {
                if (!checkKeyWord(document.formAPIDiv.keyword, "검색어")) return;
                document.formAPIDiv.currentPage.value = '1';
                searchDivAddr(); //jsonp사용시 enter검색
            }
        }

        function searchDivButton() {
            document.formAPIDiv.currentPage.value = '1';
            searchDivAddr(); //jsonp사용시 enter검색
        }

        // 도로명주소 openAPI 호출하기
        function searchDivAddr() {
            if (!checkSearchedWord(document.formAPIDiv.keyword)) {
                return;
            }

            //크로스 도메인 오류로 변경
            $.get("../../Main/GetAddress", { "address": encodeURI(document.formAPIDiv.keyword.value), "currentPage": document.formAPIDiv.currentPage.value, "countPerPage": document.formAPIDiv.countPerPage.value },
                function (xmlData) {
                    var errCode = $(xmlData).find("errorCode").text();
                    var errDesc = $(xmlData).find("errorMessage").text();
                    if (errCode != "0") {
                        alert(errDesc);
                    } else {
                        if (xmlData != null) {
                            makeListDiv(xmlData);
                            pageDivMake(xmlData);
                        }
                    }
                })
            .error(function (jqXHR, status, error) {
                alert(error);
            });
        }

        function jsonpCallback(xmlStr) {
            if (navigator.appName.indexOf("Microsoft") > -1) {
                var xmlData = new ActiveXObject("Microsoft.XMLDOM");
                xmlData.loadXML(xmlStr.returnXml)
            } else {
                var xmlData = xmlStr.returnXml;
            }

            var errCode = $(xmlData).find("errorCode").text();
            var errDesc = $(xmlData).find("errorMessage").text();
            if (errCode != "0") {
                alert(errDesc);
            } else {
                if (xmlStr != null) {
                    makeListDiv(xmlData);
                    pageDivMake(xmlData);
                }
            }
        }

        //특수문자, 특정문자열(sql예약어의 앞뒤공백포함) 제거
        function checkSearchedWord(obj) {
            if (obj.value.length > 0) {
                //특수문자 제거
                var expText = /[%=><]/;
                if (expText.test(obj.value) == true) {
                    alert("특수문자를 입력 할수 없습니다.");
                    obj.value = obj.value.split(expText).join("");
                    return false;
                }

                //특정문자열(sql예약어의 앞뒤공백포함) 제거
                var sqlArray = new Array(
			        //sql 예약어
			        "OR", "SELECT", "INSERT", "DELETE", "UPDATE", "CREATE", "DROP", "EXEC",
             		         "UNION", "FETCH", "DECLARE", "TRUNCATE"
		        );

                var regex;
                var regex_plus;
                for (var i = 0; i < sqlArray.length; i++) {
                    regex = new RegExp("\\s" + sqlArray[i] + "\\s", "gi");
                    if (regex.test(obj.value)) {
                        alert("\"" + sqlArray[i] + "\"와(과) 같은 특정문자로 검색할 수 없습니다.");
                        obj.value = obj.value.replace(regex, "");
                        return false;
                    }

                    regex_plus = new RegExp("\\+" + sqlArray[i] + "\\+", "gi");
                    if (regex_plus.test(obj.value)) {
                        alert("\"" + sqlArray[i] + "\"와(과) 같은 특정문자로 검색할 수 없습니다.");
                        obj.value = obj.value.replace(regex_plus, "");
                        return false;
                    }
                }
            }
            return true;
        }

        // 적용예 (api 호출 전에 검색어 체크)
        function searchJuso() {
            if (!checkSearchedWord(document.form.keyword)) {
                return;
            }
        }

        /*
         * 제공받은 주소정보를 화면에 셋팅하기
         * 사이트에 맞게 화면 구성하기
         */
        function makeListDiv(xmlStr) {

            var htmlStr = "<tbody  id='listDiv'>";
            var tr_index = 0;

            if ($(xmlStr).find("juso").length > 0) {
                $(xmlStr).find("juso").each(function () {

                    var roadAddr = $(this).find('roadAddr').text().replace(/ /gi, "&nbsp;").replace('&nbsp;&nbsp;', '&nbsp;').replace('\'', '');
                    var addrDetail = $(this).find('addrDetail').text().replace(/ /gi, "&nbsp;").replace('&nbsp;&nbsp;', '&nbsp;').replace('\'', '');
                    var roadAddrPart1 = $(this).find('roadAddrPart1').text().replace(/ /gi, "&nbsp;").replace('&nbsp;&nbsp;', '&nbsp;').replace('\'', '');
                    var roadAddrPart2 = $(this).find('roadAddrPart2').text().replace(/ /gi, "&nbsp;").replace('&nbsp;&nbsp;', '&nbsp;').replace('\'', '');
                    var engAddr = $(this).find('engAddr').text().replace(/ /gi, "&nbsp;").replace('&nbsp;&nbsp;', '&nbsp;').replace('\'', '');
                    var jibunAddr = $(this).find('jibunAddr').text().replace(/ /gi, "&nbsp;").replace('&nbsp;&nbsp;', '&nbsp;').replace('\'', '');
                    var zipNo = $(this).find('zipNo').text().replace(/ /gi, "&nbsp;");
                    var admCd = $(this).find('admCd').text().replace(/ /gi, "&nbsp;");
                    var rnMgtSn = $(this).find('rnMgtSn').text().replace(/ /gi, "&nbsp;");
                    var bdMgtSn = $(this).find('bdMgtSn').text().replace(/ /gi, "&nbsp;");
                    var detBdNmList = $(this).find('detBdNmList').text().replace(/ /gi, "&nbsp;").replace('&nbsp;&nbsp;', '&nbsp;');
                    var siNm = $(this).find('siNm').text().replace(/ /gi, "&nbsp;").replace('&nbsp;&nbsp;', '&nbsp;');
                    var sggNm = $(this).find('sggNm').text().replace(/ /gi, "&nbsp;").replace('&nbsp;&nbsp;', '&nbsp;');
                    var emdNm = $(this).find('emdNm').text().replace(/ /gi, "&nbsp;").replace('&nbsp;&nbsp;', '&nbsp;');

                    htmlStr += "<tr>";
                    htmlStr += "<td class='subj' style='text-align:center;'>" + zipNo + "</td>";
                    htmlStr += "<td class='subj' style='text-align:left; padding-left:50px;'>"
						        + "<a href = javascript:openApiDivCallBack('" + roadAddr + "','" + roadAddrPart1 + "','" + roadAddrPart2
															        + "','" + engAddr + "','" + jibunAddr + "','" + zipNo + "','" + admCd + "','" + rnMgtSn + "','" + bdMgtSn + "','" + detBdNmList + "','" + siNm + "','" + sggNm + "','" + emdNm + "')>"
						        + roadAddr + "</br>" + jibunAddr
						        + "</a></td>";
                    htmlStr += "</tr>";

                });
            } else {
                htmlStr += "<tr>";
                htmlStr += "<td align='center' colspan='2'>검색결과가 없습니다.</td>";
                htmlStr += "</tr>";
            }

            htmlStr += "</tbody>";
            $("#listDiv").replaceWith(htmlStr);
            //$("#listDiv").html(htmlStr);
        }

        // 페이징 처리
        function pageDivMake(xmlStr) {
            var total = $(xmlStr).find("totalCount").text();
            $('#totalCntDiv').text("(총 " + total + "건)");	 // 총건수 셋팅
            var pageNum = document.formAPIDiv.currentPage.value;
            var paggingStr = "<div class='paginate' id='pageApiDiv'>";
            if (total < 1) {
            } else {
                var PAGEBLOCK = 5;
                var pageSize = document.formAPIDiv.countPerPage.value;
                var totalPages = Math.floor((total - 1) / pageSize) + 1;
                var firstPage = Math.floor((pageNum - 1) / PAGEBLOCK) * PAGEBLOCK + 1;

                if (firstPage <= 0) firstPage = 1;

                var lastPage = firstPage - 1 + PAGEBLOCK;
                if (lastPage > totalPages) lastPage = totalPages;

                var nextPage = lastPage + 1;
                var prePage = firstPage - 5;

                if (firstPage > PAGEBLOCK) {
                    paggingStr += "<a title='이전 페이지' href='javascript:goPageDiv(" + prePage + ");'>&lsaquo;</a>&nbsp;&nbsp;";
                }

                for (i = firstPage; i <= lastPage; i++) {
                    if (pageNum == i)
                        paggingStr += "<a title='현재 " + i + "페이지' style='font-weight:bold; color:#4a6cde; font-size:15px; border:1px solid #4a6cde;' href='javascript:goPageDiv(" + i + ");'>" + i + "</a>&nbsp;&nbsp;";
                    else
                        paggingStr += "<a title='" + i + "페이지'  href='javascript:goPageDiv(" + i + ");'>" + i + "</a>&nbsp;&nbsp;";
                }

                if (lastPage < totalPages) {
                    paggingStr += "<a title='다음 페이지' href='javascript:goPageDiv(" + nextPage + ");'>&rsaquo;</a>";
                }

                paggingStr += "</div>";

                $("#pageApiDiv").replaceWith(paggingStr);
                //$("#pageApiDiv").html(paggingStr);
                //document.formAPIDiv.keyword.focus();
            }
        }

        // 페이지 이동
        function goPageDiv(pageNum) {
            document.formAPIDiv.currentPage.value = pageNum;
            searchDivAddr();
        }
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="@Url.Content("../../Content/SHOUSE2017/Site.css?version=6")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/RPS_Script.js"></script>
</head>
<body>
    <table class="infoTable">
        <tr>
            <td class="tdHeader">
                HID
            </td>
            <td class="tdValue" colspan="2">
                @Model.HID
            </td>
        </tr>
        <tr>
            <td class="tdHeader">
                가구주명
            </td>
            <td class="tdValue" colspan="2">
                @Model.가구주이름
            </td>
        </tr>
        <tr>
            <td class="tdHeader">
                기존 주소
            </td>
            <td class="tdValue" colspan="2">
                @Model.상세주소
            </td>
        </tr>
        <tr>
            <td class="tdHeader">
                기존 연락처(집전화)
            </td>
            <td class="tdValue" colspan="2">
                @Model.집전화
            </td>
        </tr>
        <tr>
            <td class="tdHeader">
                기존 연락처(휴대전화)
            </td>
            <td class="tdValue" colspan="2">
                @Model.휴대전화
            </td>
        </tr>
        <tr>
            <td class="tdHeader">변경 주소</td>
            <td class="tdValue" colspan="2">
                <input type="button" class="btn-b" value="주소검색" onclick="jusoPopUp();" style=" cursor: pointer;" id="searchJusoButton">
                <input type="text" id="address" class="textbox" placeholder="도로명주소 예) 서울특별시&nbsp;강남구&nbsp;봉은사로&nbsp;179" readonly="readonly" title="도로명주소" style="width:65%">
                <br /><input type="text" id="dongho" class="textbox" maxlength="50" placeholder="상세주소 예) 105동 123호" title="상세주소" style="width:80%">
                <input type="hidden" id="address1">
                <input type="hidden" id="address2">
            </td>
        </tr>
        <tr>
            <td class="tdHeader">변경 연락처(집전화)</td>
            <td class="tdValue" colspan="2">
                <select id="edit_tel1_1" class="addr_select">
                    <option></option>
                    <option value="02">서울 02</option>
                    <option value="051">부산 051</option>
                    <option value="053">대구 053</option>
                    <option value="032">인천 032</option>
                    <option value="062">광주 062</option>
                    <option value="042">대전 042</option>
                    <option value="052">울산 052</option>
                    <option value="044">세종 044</option>
                    <option value="031">경기 031</option>
                    <option value="033">강원 033</option>
                    <option value="043">충북 043</option>
                    <option value="041">충남 041</option>
                    <option value="063">전북 063</option>
                    <option value="061">전남 061</option>
                    <option value="054">경북 054</option>
                    <option value="055">경남 055</option>
                    <option value="064">제주 064</option>
                    <option value="070">인터넷전화 070</option>
                </select>
                - <input class="textbox" id="edit_tel1_2" type="tel" rows="1" size="4" maxlength="4" style="width:80px;">
                - <input class="textbox" id="edit_tel1_3" type="tel" rows="1" size="4" maxlength="4" style="width:80px;">
            </td>
        </tr>
        <tr>
            <td class="tdHeader">변경 연락처(휴대전화)</td>
            <td class="tdValue" colspan="2">
                <select id="edit_tel2_1" class="addr_select">
                    <option></option>
                    <option value="010">010</option>
                    <option value="011">011</option>
                    <option value="016">016</option>
                    <option value="017">017</option>
                    <option value="018">018</option>
                    <option value="019">019</option>
                </select>
                - <input class="textbox" id="edit_tel2_2" type="tel" rows="1" size="4" maxlength="4" style="width:80px;">
                - <input class="textbox" id="edit_tel2_3" type="tel" rows="1" size="4" maxlength="4" style="width:80px;">
            </td>
        </tr>
        <tr>
            <td class="tdHeader">최종 접촉일지 - 방문 횟수</td>
            <td class="tdValue" colspan="2"><input class="textbox" id="contactCount" type="tel" rows="1" size="2" maxlength="2"> 회</td>
        </tr>
        <tr>
            <td class="tdHeader">
                최종 접촉일지 - 방문 결과
            </td>
            <td class="tdValue">
                <input type="radio" name="contact" value="조사 협조" id="contact_1" /><label for="contact_1">1. 조사 협조</label><br />
                <input type="radio" name="contact" value="거절" id="contact_2" /><label for="contact_2">2. 거절</label><br />
                <input type="radio" name="contact" value="고소, 고발 등 협박 수준으로 거절" id="contact_3" /><label for="contact_3">3. 고소, 고발 등 협박 수준으로 거절</label><br />
                <input type="radio" name="contact" value="외출로 인한 부재" id="contact_4" /><label for="contact_4">4. 외출로 인한 부재</label><br />
                <input type="radio" name="contact" value="공실 및 빈집" id="contact_5" /><label for="contact_5">5. 공실 및 빈집</label><br />
            </td>
            <td class="tdValue">
                <input type="radio" name="contact" value="실종 및 가출" id="contact_6" /><label for="contact_6">6. 실종 및 가출</label><br />
                <input type="radio" name="contact" value="유학 및 장기 출장" id="contact_7" /><label for="contact_7">7. 유학 및 장기 출장</label><br />
                <input type="radio" name="contact" value="질병 및 사고로 입원" id="contact_8" /><label for="contact_8">8. 질병 및 사고로 입원</label><br />
                <input type="radio" name="contact" value="다른 곳으로 이사" id="contact_9" /><label for="contact_9">9. 다른 곳으로 이사</label><br />
                <input type="radio" name="contact" value="기타" id="contact_10" /><label for="contact_10">10. 기타</label>
            </td>
        </tr>
        <tr>
            <td class="tdHeader">
                조사 방법
            </td>
            <td class="tdValue" colspan="5">
                <input type="radio" name="atype" value="대면조사" id="atype_1" /><label for="atype_1">대면 조사</label><br />
                <input type="radio" name="atype" value="전화조사" id="atype_2" /><label for="atype_2">전화 조사</label><br />
            </td>
        </tr>
        <tr>
            <td class="tdHeader">
                특이사항
            </td>
            <td class="tdValue" colspan="5">
                <input class="textbox" id="etc" name="etc" rows="1" size="50" type="text" value="" maxlength="100"  style="width:80%"/>
            </td>
        </tr>
    </table>

    <div class="buttonDiv">
        <center>
            <input type="button" id="ok" class="infoButton" value="저장 후 종료" />
            <input type="button" id="survey" class="infoButton" value="조사 시작" />
            <input type="button" id="cancel" class="infoButton" value="나가기" />
        </center>
    </div>

    <!-- 주소찾기 레이어 팝업 -->
    <div id="popAddrSearch" class="pop-address-search-wrapper">
        <form name="formAPIDiv" id="formAPIDiv" method="post">
            <input type="hidden" id="currentPage" name="currentPage" value="1" style="width:100px">
            <input type="hidden" id="countPerPage" name="countPerPage" value="3" style="width:100px">
            <div class="pop-address-search-form pop-address-search-layer3">
                <div class="pop-address-header">
                    <h2>주소 검색</h2>
                    <a class="close" href="javascript:closeLayerPopUp();"><img src="../../images/closebtn.png" alt="닫기"></a>
                </div>
                <div class="pop-address-body">
                    <fieldset class="pop-address-field">
                        <legend>도로명주소 검색</legend>
                        <span class="pop-addr-wrap">
                            <input type="text" id="keyword" name="keyword" variable="q220_op12" onkeydown="enterSearchDiv()" style="width:98%" title="검색어 입력" placeholder="도로명주소, 건물명 또는 지번 입력">
                            <input type="button" style="cursor:pointer;" id="" onclick="javascript:searchDivButton();" title="검색">
                        </span>
                    </fieldset>
                    <p class="text-guide">· 해당되는 주소를 선택해주세요.</p>
                    <table class="data-col">
                        <colgroup>
                            <col style="width:20%">
                            <col>
                        </colgroup>
                        <thead>
                            <tr style="display: table-row;">
                                <th scope="col">우편번호</th>
                                <th scope="col">도로명주소</th>
                            </tr>
                        </thead>
                        <tbody id="listDiv"></tbody>
                    </table>
                    <div class="paginate" id="pageApiDiv"></div>
                </div>
            </div>
        </form>
    </div>
    <!-- //주소찾기 레이어 팝업 -->
</body>
</html>
