@model TAPI_Interviewer.Models.SP_SHOUSE2021P_GETLISTResult
           
<html>
<head>
    @{
        ViewBag.Title = "개인 세부 정보";
    }
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script type="text/javascript">
        $(document).on('keypress keyup blur', 'input[name="numberBox"]', function () {
            var maxlength = $(this).attr("maxLength");
            var inputLength = $(this).val().length;

            if (inputLength >= maxlength) {
                event.preventDefault();
                return false;
            }
        });

        $(document).ready(function () {
            $("#edit_tel2_1").val("@ViewBag.tel2_1").attr("selected", "selected");
            $("#edit_tel2_2").val("@ViewBag.tel2_2");
            $("#edit_tel2_3").val("@ViewBag.tel2_3");

            $("#contactCount").val("@Model.최종_접촉_횟수");

            $(":radio[name='contact']").filter('[value="@(Model.최종_접촉_결과)"]').prop('checked', true);
            $(":radio[name='atype']").filter('[value="@(Model.조사방법)"]').prop('checked', true);

            $("#etc").val("@Model.특이사항");

            $("#ok").click(function () {
                saveContactOK("ok");
            });

            $("#survey").click(function () {
                saveContactOK("survey");
            });

            $("#cancel").click(function () {
                window.location.href = "./PanelInfo?hid=@ViewBag.HID&stype=@ViewBag.stype";
            });
        });

        function saveContactOK(type) {
            var edit_tel2 = $("#edit_tel2_1 option:selected").val() + '-' + $('#edit_tel2_2').val() + '-' + $('#edit_tel2_3').val();

            if (edit_tel2.length > 2 && ($('#edit_tel2_2').val().length < 3 || $('#edit_tel2_3').val().length < 4)) {
                alert('변경 휴대전화를 모두 입력 해 주세요.');
                return;
            }

            var contactCount = $('#contactCount').val();

            if (contactCount == undefined || contactCount == '') {
                alert('방문횟수를 입력 해 주세요.');
                return;
            }

            var status = $(":radio[name='contact']:checked").val();
            var etc = $('#etc').val();

            if (status == undefined || status == '') {
                alert('방문결과를 선택 해 주세요.');
                return;
            }

            var atype = $(":radio[name='atype']:checked").val();
            if (type == 'survey' && (atype == undefined || atype == '')) {
                alert('조사방법을 선택 해 주세요.');
                return;
            }
            if (atype == undefined) {
                atype = '';
            }


            if (status == '기타' && etc == '') {
                alert('특이사항을 입력 해 주세요.');
                return;
            }

            if (type == 'survey' && status != '조사 협조') {
                alert('"1. 조사 협조"를 선택 해 주세요.');
                return;
            }

            if (type == 'ok' && status != '조사 협조' && '@Model.최종_접촉_결과' == '조사 협조') {
                if (!confirm("데이터가 있습니다. 비성공 하시겠습니까?")) {
                    return;
                }
            }

            $.post("./PContactOK", { "pid": '@Model.PID', "edit_tel2": edit_tel2, "status": status, "etc": etc, "contactCount": contactCount, "atype": atype }, function (result) {
                if (type == 'survey') {
                    window.location.href = './PersonSurvey?pid=@Model.PID&status=@Model.진행상태';
                }
                else {
                    alert('저장 되었습니다.');
                    window.location.href = "./PanelInfo?hid=@ViewBag.HID&stype=@ViewBag.stype";
                }
            }).error(function (jqXHR, status, error) {
                alert(status);
                alert(error);
            });
        }
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="@Url.Content("../../Content/SHOUSE2017/Site.css?version=6")" rel="stylesheet" type="text/css" />
</head>
<body>
    <table class="infoTable">
        <tr>
            <td class="tdHeader">
                PID
            </td>
            <td class="tdValue" colspan="2">
                @Model.PID
            </td>
        </tr>
        <tr>
            <td class="tdHeader">
                성명
            </td>
            <td class="tdValue" colspan="2">
                @Model.성명
            </td>
        </tr>
        <tr>
            <td class="tdHeader">
                기존 연락처(휴대전화)
            </td>
            <td class="tdValue" colspan="2">
                @Model.휴대전화
            </td>
        </tr>
        <tr>
            <td class="tdHeader">변경 연락처(휴대전화)</td>
            <td class="tdValue" colspan="2">
                <select id="edit_tel2_1" class="addr_select">
                    <option></option>
                    <option value="010">010</option>
                    <option value="011">011</option>
                    <option value="016">016</option>
                    <option value="017">017</option>
                    <option value="018">018</option>
                    <option value="019">019</option>
                </select>
                - <input class="textbox" id="edit_tel2_2" type="number" name="numberBox" rows="1" size="4" maxlength="4" style="width:80px;">
                - <input class="textbox" id="edit_tel2_3" type="number" name="numberBox" rows="1" size="4" maxlength="4" style="width:80px;">
            </td>
        </tr>
        <tr>
            <td class="tdHeader">최종 접촉일지 - 방문 횟수</td>
            <td class="tdValue" colspan="2"><input class="textbox" id="contactCount" type="number" name="numberBox" rows="1" size="2" maxlength="2"> 회</td>
        </tr>
        <tr>
            <td class="tdHeader">
                최종 접촉일지 - 방문 결과
            </td>
            <td class="tdValue">
                <input type="radio" name="contact" value="조사 협조" id="contact_1" /><label for="contact_1">1. 조사 협조</label><br />
                <input type="radio" name="contact" value="거절" id="contact_2" /><label for="contact_2">2. 거절</label><br />
                <input type="radio" name="contact" value="고소, 고발 등 협박 수준으로 거절" id="contact_3" /><label for="contact_3">3. 고소, 고발 등 협박 수준으로 거절</label><br />
                <input type="radio" name="contact" value="외출로 인한 부재" id="contact_4" /><label for="contact_4">4. 외출로 인한 부재</label><br />
                <input type="radio" name="contact" value="실종 및 가출" id="contact_5" /><label for="contact_5">5. 실종 및 가출</label><br />
                <input type="radio" name="contact" value="별거" id="contact_6" /><label for="contact_6">6. 별거</label><br />
            </td>
            <td class="tdValue">                
                <input type="radio" name="contact" value="군복무" id="contact_7" /><label for="contact_7">7. 군복무</label><br />
                <input type="radio" name="contact" value="유학 및 장기 출장" id="contact_8" /><label for="contact_8">8. 유학 및 장기 출장</label><br />
                <input type="radio" name="contact" value="질병 및 사고로 입원" id="contact_9" /><label for="contact_9">9. 질병 및 사고로 입원</label><br />
                <input type="radio" name="contact" value="기타" id="contact_10" /><label for="contact_10">10. 기타</label><br />
                <input type="radio" name="contact" value="조사 대상 아님" id="contact_11" /><label for="contact_11">11. 조사 대상 아님</label>
            </td>
        </tr>
        <tr>
            <td class="tdHeader">
                조사 방법
            </td>
            <td class="tdValue" colspan="5">
                <input type="radio" name="atype" value="대면조사" id="atype_1" /><label for="atype_1">대면 조사</label><br />
                <input type="radio" name="atype" value="전화조사" id="atype_2" /><label for="atype_2">전화 조사</label><br />
            </td>
        </tr>
        <tr>
            <td class="tdHeader">
                특이사항
            </td>
            <td class="tdValue" colspan="5">
                <input class="textbox" id="etc" name="etc" rows="1" size="50" type="text" value="" maxlength="100"  style="width:80%"/>
            </td>
        </tr>
    </table>

    <div class="buttonDiv">
        <center>
            <input type="button" id="ok" class="infoButton" value="저장 후 종료" />
            <input type="button" id="survey" class="infoButton" value="조사 시작" />
            <input type="button" id="cancel" class="infoButton" value="나가기" />
        </center>
    </div>
</body>
</html>
