@model TAPI_Interviewer.Models.SP_H2022_GETAPTHOUSELISTResult
@{
    string[] tel = string.IsNullOrEmpty(Model.집전화) == true ? new string[] { "" } : Model.집전화.Trim().Split('-');
    string[] hp = string.IsNullOrEmpty(Model.휴대전화) == true ? new string[] { "" } : Model.휴대전화.Trim().Split('-');
}
<script type="text/javascript">
    $(document).ready(function () {
        $("select[name='gender']").val("@(Model.응답자성별)").attr("selected", "selected");
        $("select[name='tel1']").val("@(tel[0])").attr("selected", "selected");
        $("select[name='hp1']").val("@(hp[0])").attr("selected", "selected");

        $('#save').click(function () {
            saveInfo('./HouseListAPT?keyid=@(Model.HRC일련번호)', true);
        });

        $('#survey').click(function () {
            saveInfo('./Survey?keyid=@(Model.HRC일련번호)&hid=@(Model.HID)&listType=2', false);
        });

        $('#exit').click(function () {
            window.location.href = './HouseListAPT?keyid=@(Model.HRC일련번호)';
        });

        $('#init').click(function () {

            if('@(Model.진행상태)'=='완료')
            {
                alert('설문을 끝까지 완료하신 가구는 가구 기본정보를 초기화 할 수 없습니다.\r\n주소가 잘못되었다면 담당 수퍼바이저에게 보고해 주십시오.');
                return;
            }

            if(confirm('가구 일련번호, 주소, 단지명, 동, 호수 의 기본 정보를 정말 초기화하시겠습니까?') == false)
            {
                return;
            }

            $.post("./InitInfoAPT", {  "hid": @(Model.HID) }, function (result) {
                if (result != '')
                {
                    alert(result);
                }
                else
                {
                    location.reload();
                }
            }).error(function (jqXHR, status, error) {
                alert(status);
                alert(error);
            });
        });

    });



    function saveInfo(href, isContactCheck) {
        var gender = $("select[name='gender'] option:selected").val();
        var tel1 = $("select[name='tel1'] option:selected").val();
        var hp1 = $("select[name='hp1'] option:selected").val();

        var tel = tel1;
        var hp = hp1;

        var pname = $("#pname").val();

        if(isContactCheck == false)
        {
            if (pname == '') {
                $("#pname").focus();
                alert('이름을 입력 해 주세요.');
                return;
            }

            if (pname.length > 50) {
                $("#pname").focus();
                alert('이름을 50자 이내로 입력 해 주세요.');
                return;
            }

            if (gender == '')
            {
                alert('성별을 선택 해 주세요.');
                return;
            }

            if ((tel1 == '' || tel1 == '없음') && (hp1 == '' || hp1 == '없음')) {
                alert('연락처를 하나는 입력 해 주세요.');
                return;
            }

        }

        if (tel1 != '없음'  && tel1 != '') {
            tel = tel1 + '-' + $("#tel2").val() + '-' + $("#tel3").val();

            if ( tel != '02-000-0000' && tel != '02-0000-0000' && isTelePhone(tel) == false) {
                $("#tel2").focus();
                alert('유효한 집전화 번호를 입력 해 주세요.');
                return;
            }
        }

        if (hp1 != '없음' && hp1 != '') {
            hp = hp1 + '-' + $("#hp2").val() + '-' + $("#hp3").val();

            if ( hp != '010-0000-0000' && isCellPhone(hp) == false) {
                $("#hp2").focus();
                alert('유효한 휴대전화 번호를 입력 해 주세요.');
                return;
            }
        }


        var dong = $("#dong").val();
        var hosu = $("#hosu").val();
        if (dong == '')
        {
            $("#dong").focus();
            alert("동 정보를 입력해 주세요.");
            return;
        }
        if (hosu == '')
        {
            $("#hosu").focus();
            alert("호수 정보를 입력해 주세요.");
            return;
        }

        var infoText = '가구일련번호 @(Model.HID ) \r@(Model.주소) @(Model.단지명)'+ dong + ' '+hosu+'이/가 맞습니까?';
        if( confirm(infoText) == false)
        {
            return;
        }


        $.post("./SaveInfoAPT", { "keyid": @(Model.HRC일련번호), "hid": @(Model.HID), "pname": pname, "gender": gender, "tel": tel, "hp": hp, "dong": dong, "hosu":hosu }, function (result) {
            if (result != '')
            {
                alert(result);
            }
            else
            {
                window.location.href = href;
            }
        }).error(function (jqXHR, status, error) {
            alert(status);
            alert(error);
        });
    }

    function isTelePhone(p) {
        p = p.split('-').join('');

        var regPhone = /^(0(2|3[1-3]|4[1-4]|5[1-5]|6[1-4]|70|505))[1-9]+[0-9]{6,7}$/;

        return regPhone.test(p);
    }

    function isCellPhone(p) {
        p = p.split('-').join('');

        var regPhone = /^((01[1|6|7|8|9])[1-9]+[0-9]{6,7})|(010[1-9][0-9]{7})$/;

        return regPhone.test(p);
    }
</script>

@Html.Partial("header")
<!--contents -->
<div id="contwrap">
    <div class="contentbox">
        <div class="boardbox">
            <div class="bd_contbox">
                <div class="tablebox">
                    <table class="tbl_sty01" cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                        <tbody>

                            <tr>
                                <td class="td_th txt_center">HID</td>
                                <td>@(Model.HID)</td>
                            </tr>
                            <tr>
                                <td class="td_th txt_center">주소</td>
                                <td>@(Model.주소)</td>
                            </tr>
                            <tr>
                                <td class="td_th txt_center">단지명</td>
                                <td>@(Model.단지명)</td>
                            </tr>
                            <tr>
                                <td class="td_th txt_center">응답자 이름</td>
                                <td>
                                    <input class="form_ctrl" type="text" maxlength="5" size="13" id="pname" value="@(Model.응답자이름)">
                                </td>
                            </tr>
                            <tr>
                                <td class="td_th txt_center">응답자 성별</td>
                                <td>
                                    <select class="form_ctrl" id="gender" name="gender">
                                        <option></option>
                                        <option value='남'>남</option>
                                        <option value='여'>여</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_th txt_center">집전화</td>
                                <td>
                                    <select class="form_ctrl" id="tel1" name="tel1">
                                        <option></option>
                                        <option value='없음'>없음</option>
                                        <option value='02'>서울 02</option>
                                        <option value='051'>부산 051</option>
                                        <option value='053'>대구 053</option>
                                        <option value='032'>인천 032</option>
                                        <option value='062'>광주 062</option>
                                        <option value='042'>대전 042</option>
                                        <option value='052'>울산 052</option>
                                        <option value='044'>세종 044</option>
                                        <option value='031'>경기 031</option>
                                        <option value='033'>강원 033</option>
                                        <option value='043'>충북 043</option>
                                        <option value='041'>충남 041</option>
                                        <option value='063'>전북 063</option>
                                        <option value='061'>전남 061</option>
                                        <option value='054'>경북 054</option>
                                        <option value='055'>경남 055</option>
                                        <option value='064'>제주 064</option>
                                        <option value='070'>인터넷전화 070</option>
                                    </select>
                                    -
                                    <input type="text" class="form_ctrl" size="4" id="tel2" value="@(tel.Length <= 1 ? "" : tel[1])" maxlength="4">
                                    -
                                    <input type="text" class="form_ctrl" size="4" id="tel3" value="@(tel.Length <= 1 ? "" : tel[2])" maxlength="4">
                                </td>

                            </tr>
                            <tr>
                                <td class="td_th txt_center">휴대전화</td>
                                <td>
                                    <select class="form_ctrl" id="hp1" name="hp1">
                                        <option></option>
                                        <option value='010'>010</option>
                                        <option value='011'>011</option>
                                        <option value='없음'>없음</option>
                                    </select>
                                    -
                                    <input type="text" class="form_ctrl" size="4" id="hp2" value="@(hp.Length <= 1 ? "" : hp[1])" maxlength="4">
                                    -
                                    <input type="text" class="form_ctrl" size="4" id="hp3" value="@(hp.Length <= 1 ? "" : hp[2])" maxlength="4">
                                </td>
                            </tr>
                            <tr>
                                <td class="td_th txt_center">동</td>
                                <td>
                                    <input class="form_ctrl" type="text" maxlength="5" size="13" id="dong" value="@(Model.동)">
                                </td>
                            </tr>
                            <tr>
                                <td class="td_th txt_center">호수</td>
                                <td>
                                    <input class="form_ctrl" type="text" maxlength="5" size="13" id="hosu" value="@(Model.호수)">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="bot_btnbox" style="text-align:left;">
                    <button type="button" class="btnsty03" id="init">초기화</button>
                </div>
                <div class="bot_btnbox">
                    <button type="button" class="btnsty02" id="save">저장 후 종료</button>
                    <button type="button" class="btnsty01" id="survey">조사하기</button>
                    <button type="button" class="btnsty03" id="exit">취소</button>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("footer")

</div>
</body>
</html>
