@model List<TAPI_Interviewer.Models.SP_q221150_GETPERSONLISTResult>

<!DOCTYPE html>

<html>
<head>
    @{
        ViewBag.Title = "2022년 사이버폭력 실태조사";
        ViewBag.idx = 1;


    }

    <script type="text/javascript">



        function personDeleteClick(pid)
        {

            if( confirm('가구원을 삭제하시겠습니까? ') == false)
            {
                return;
            }


            $.post("./DeletePerson", { "pid":pid }, function (result) {
                if (result != '')
                {
                    alert(result);
                    location.reload();
                }
                else
                {
                    location.reload();

                }
            }).error(function (jqXHR, status, error) {
                alert(status);
                alert(error);
            });

        }

        $(document).ready(function () {

            $('#CreatePerson').click(function () {
                var Addr = $("#addr").val();
                if( Addr == '')
                {
                    alert("주소를 입력해 주세요.");
                    return;
                }
                var sebuAddr = $("#sebuAddr").val();

                var personAllCount = $("#personAllCount").val();
                if( personAllCount == 0)
                {
                    alert("총 가구원 수를 입력해 주세요.");
                    return;
                }
                var personCount = $("#personCount").val();
                if( personCount == 0)
                {
                    alert("만19-69세 가구원 수를 입력해 주세요.");
                    return;
                }
                if(personCount > personAllCount)
                {
                    alert("가구원 수를 확인해 주세요.");
                    return;
                }


                $.post("./CreatePerson", { "keyid":@(ViewBag.HRC일련번호), "hid": @(ViewBag.HID), "fAllCount": personAllCount, "fCount": personCount, "addr":Addr, "sebuAddr":sebuAddr}, function (result) {
                    if (result != '')
                    {
                        alert(result);
                        location.reload();
                    }
                    else
                    {
                        alert('가구 정보 저장되었습니다.');
                        location.reload();

                    }
                }).error(function (jqXHR, status, error) {
                    alert(status);
                    alert(error);
                });
            });



            $('#exit').click(function () {
                window.location.href = './AnswerInfo?keyid=@ViewBag.HRC일련번호&hid=@ViewBag.HID';
            });




            $('input[type=tel]').keydown(function (event) {
                var charCode = (event.which) ? event.which : event.keyCode;

                if (isNumeric(charCode, this) == false) {
                    event.preventDefault();
                }
            });
        });


    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="@Url.Content("../../Content/q210801/PanelInfo.css?version=5")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("../../Content/q200494/PanelInfo.css?version=6")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/RPS_Script.js"></script>
</head>
<body>
    <div style="width : 100%;display: inline-block;">
        

     <br />
        <table class="infoTable">
            <tr>
                <td class="tdValue" colspan="2">
                    가구 정보 입력
                </td>
                
            </tr>
            <tr>
                <td class="tdValue" width="40%">
                    가구일련번호
                </td>
                <td class="tdValue3">
                    @(ViewBag.HID)
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    거처번호
                </td>
                <td class="tdValue3">
                    @(ViewBag.거처번호)
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    가구번호
                </td>
                <td class="tdValue3">
                    @(ViewBag.가구번호)
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    주소
                </td>                
                <td class="tdValue3" >
                    @if (ViewBag.추가가구여부 == "")
                    {
                        <input class="textbox" type="text" id="addr" maxlength="50" value="@(ViewBag.주소)" style="width:90%" disabled="disabled">
                    }
                    else
                    {
                        <input class="textbox" type="text" id="addr" maxlength="50" value="@(ViewBag.주소)" style="width:90%">
                    }
                    
                    
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    세부주소(건물명)
                </td>
                <td class="tdValue3" colspan="3">
                    <input class="textbox" type="text" id="sebuAddr" maxlength="50" value="@(ViewBag.세부주소)" title="상세주소" style="width:90%">
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    총가구원
                </td>
                <td class="tdValue3" >
                    <input class="textbox" type="text" id="personAllCount" maxlength="3" style="width:50px" value="@(ViewBag.가구원수)"> 명
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    만19-69세 가구원수
                </td>
                <td class="tdValue3">
                    <input class="textbox" type="text" id="personCount" maxlength="3" style="width:50px" value="@(ViewBag.대상가구원수)"> 명
                </td>
            </tr>
        </table>
        <div class="buttonDiv">
            <center>
                <input type="button" id="CreatePerson" class="infoButtonRedWide" style="margin-right: 60px;" value="가구 정보 저장 및 가구원 생성" />
                
            </center>
        </div>
       
     
        <div style="overflow-x:scroll;width:100%;">
            @Html.Action("PersonListPartial", "q221150_1", new {keyid=ViewBag.HRC일련번호 ,hid=@ViewBag.HID })            
        </div>
        
    </div>
    <div class="buttonDiv" style="text-align:right;">
        
            <input type="button" id="exit" class="infoButton" style="margin-right: 60px;" value="나가기" />
        
    </div>
    
</body>
</html>