@model List<TAPI_Interviewer.Models.q220486_Contact>
           
<html>
<head>
    @{  
        ViewBag.Title = "접촉일지";
    }
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script type="text/javascript">
        $(document).ready(function () {

            setDisabled();

            $("select[name='contactMonth']").val("@ViewBag.contactMonth").attr("selected", "selected");
            $("select[name='contactDay']").val("@ViewBag.contactDay").attr("selected", "selected");



            $(":radio[name='contact']").change(function () {
                setDisabled();
            });


            $('#cancel').click(function () {
                if('@ViewBag.사전조사오픈여부' == '가능')
                {
                    window.location.href = './List';
                }
                else{
                    window.location.href = './AnswerInfo?pid='+@ViewBag.PID;
                }

            });


            $('#presurvey').click(function () {
               


                window.location.href = './Survey?pid='+@ViewBag.PID+'&type=0';
            });

            $('#save').click(function () {

                var ranking = $(":hidden[name='ranking']").val();
                var contactMonth = $("select[name='contactMonth'] option:selected").text();
                var contactDay = $("select[name='contactDay'] option:selected").text();
                var contactTime = $("select[name='contactTime'] option:selected").val();

                var contact = $(":radio[name='contact']:checked").val();



                if (contact == undefined || contact == '') {
                    alert("접촉 결과를 선택해 주세요.")
                    return;
                }

                
                var etc = $("#etc").val();
                if ( contact == "거절 : 기타" || contact == "사전조사 약속" || contact == "본조사 약속" || contact == "기타") {
                    if (etc == "") {
                        alert("세부 사유를 입력해 주세요.")
                        return;
                    }
                }


                

                $.post("./ContactOK", {
                    "pid": '@ViewBag.PID', "ranking": ranking, "contact": contact, "contactMonth": contactMonth, "contactDay": contactDay, "contactTime": contactTime, "etc":etc
                }, function (result) {


                    if (result == '저장') {
                        alert('저장 되었습니다.');
                        window.location.href = './List';
                    }
                    else{
                        alert(result);
                    }
                }).error(function (jqXHR, status, error) {
                    alert(status);
                    alert(error);
                });
            });



        });

        function setDisabled() {

        }


    </script>
    <link href="@Url.Content("../../Content/q200494/Site.css?version=3")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/jquery.chained.min.js"></script>
    <script type="text/javascript" src="../../Scripts/RPS_Script.js"></script>
</head>
<body>
    <label id="title">접촉일지</label>
    <table class="infoTable">
        <tr>
            <td class="tdHeader2">
                PID
            </td>
            <td class="tdValue">
                @ViewBag.PID
            </td>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td class="tdHeader2">
                아동이름
            </td>
            <td class="tdValue">
                @ViewBag.아동이름
            </td>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td class="tdHeader2">
                원/대체 구분
            </td>
            <td class="tdValue">
                @ViewBag.원대체구분
            </td>
            <td class="tdHeader2">
                자격취득년도
            </td>
            <td class="tdValue">
                @ViewBag.자격취득년도
            </td>
        </tr>
       
      
        <tr>
            <td class="tdHeader2">
                아동성별
            </td>
            <td class="tdValue">
                @ViewBag.아동성별
            </td>
            <td class="tdHeader2">
                학년구분
            </td>
            <td class="tdValue">
                @ViewBag.학년구분
            </td>
        </tr>
        <tr>
            <td class="tdHeader2">
                아동생년월일
            </td>
            <td class="tdValue">
                @ViewBag.아동생년월일
            </td>
            <td class="tdHeader2">
                아동만나이
            </td>
            <td class="tdValue">
                @ViewBag.아동만나이
            </td>
        </tr>
        <tr>
            <td class="tdHeader2">
                시도
            </td>
            <td class="tdValue">
                @ViewBag.시도
            </td>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td class="tdHeader2">
                시군구
            </td>
            <td class="tdValue">
                @ViewBag.시군구
            </td>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td class="tdHeader2">
                상세주소
            </td>
            <td class="tdValue"  colspan="3">
                @ViewBag.상세주소
            </td>
        </tr>
        <tr>
            <td class="tdHeader2">
                연락처1
            </td>
            <td class="tdValue">
                @ViewBag.연락처1
            </td>
            <td class="tdHeader2">
                연락처1 아동과의 관계
            </td>
            <td class="tdValue">
                @ViewBag.연락처1관계
            </td>
        </tr>
        <tr>
            <td class="tdHeader2">
                연락처2
            </td>
            <td class="tdValue">
                @ViewBag.연락처2
            </td>
            <td class="tdHeader2">
                연락처2 아동과의 관계
            </td>
            <td class="tdValue">
                @ViewBag.연락처2관계
            </td>
        </tr>
        <tr>
            <td class="tdHeader2">
                연락처3
            </td>
            <td class="tdValue">
                @ViewBag.연락처3
            </td>
            <td class="tdHeader2">
                연락처3 아동과의 관계
            </td>
            <td class="tdValue">
                @ViewBag.연락처3관계
            </td>
        </tr>
        <tr>
            <td class="tdHeader2">
                특이사항
            </td>
            <td class="tdValue" colspan="3">
                @ViewBag.특이사항
            </td>
        </tr> 
     
        <tr>
            <td class="tdHeader2">
                양육자 성명
            </td>
            <td class="tdValue">
                @ViewBag.양육자성명
            </td>
            <td class="tdHeader2">
                양육자 아동과의 관계
            </td>
            <td class="tdValue">
                @ViewBag.양육자아동과의관계
            </td>
        </tr>    
        <tr>
            <td class="tdHeader2">
                양육자 전화번호
            </td>
            <td class="tdValue">
                @ViewBag.양육자전화번호
            </td>
            <td class="tdHeader2">
                문자발송 전화번호
            </td>
            <td class="tdValue">
                @ViewBag.사전안내발송연락처
            </td>
            
        </tr>      
    </table>

    @Html.DevExpress().GridView(
    settings =>
    {
        settings.Name = "방문리스트";
        settings.KeyFieldName = "접촉 리스트";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);


        settings.Columns.Add(column =>
        {
            column.FieldName = "방문횟수";
            column.Caption = "접촉 횟수";
            column.Width = System.Web.UI.WebControls.Unit.Pixel(100);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "방문일자";
            column.Caption = "접촉 일자";
            column.Width = System.Web.UI.WebControls.Unit.Pixel(130);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "방문시간";
            column.Caption = "접촉 시간";
            column.Width = System.Web.UI.WebControls.Unit.Pixel(180);
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "비성공사유";
            column.Caption = "접촉 결과";
            column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
            column.Width = System.Web.UI.WebControls.Unit.Pixel(400);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "세부사유";
            column.Caption = "세부 사유";
            column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
            column.Width = System.Web.UI.WebControls.Unit.Pixel(500);
        });

        settings.Styles.Cell.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;

        settings.SettingsPager.Mode = GridViewPagerMode.ShowAllRecords;

        settings.Settings.ShowFilterRow = false;
        settings.Settings.ShowFilterRowMenu = false;
        settings.Settings.VerticalScrollableHeight = 150;
        settings.Settings.VerticalScrollBarMode = ScrollBarMode.Auto;
        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
    }).Bind(Model).GetHtml()

    <table class="infoTable">
        <tr>
            <td class="tdHeader">접촉횟수</td>
            <td class="tdValue"><b>@ViewBag.Ranking</b>  회<input type="hidden" name="ranking" value="@ViewBag.Ranking" /></td>        
            <td class="tdHeader">
                접촉일자
            </td>
            <td class="tdValue">
                <select id="contactMonth" name="contactMonth"  class="date_select">
                    <option value="01">01</option>          
                    <option value="02">02</option>          
                    <option value="03">03</option>          
                    <option value="04">04</option>          
                    <option value="05">05</option>          
                    <option value="06">06</option>          
                    <option value="07">07</option>          
                    <option value="08">08</option>          
                    <option value="09">09</option>          
                    <option value="10">10</option>          
                    <option value="11">11</option>          
                    <option value="12">12</option>          
                </select>
                &nbsp;월
                <select id="contactDay" name="contactDay"  class="date_select">
                    <option value="01">01</option>          
                    <option value="02">02</option>          
                    <option value="03">03</option>          
                    <option value="04">04</option>          
                    <option value="05">05</option>          
                    <option value="06">06</option>          
                    <option value="07">07</option>          
                    <option value="08">08</option>          
                    <option value="09">09</option>          
                    <option value="10">10</option>          
                    <option value="11">11</option>          
                    <option value="12">12</option>          
                    <option value="13">13</option>          
                    <option value="14">14</option>          
                    <option value="15">15</option>          
                    <option value="16">16</option>          
                    <option value="17">17</option>          
                    <option value="18">18</option>          
                    <option value="19">19</option>          
                    <option value="20">20</option>          
                    <option value="21">21</option>          
                    <option value="22">22</option>          
                    <option value="23">23</option>          
                    <option value="24">24</option>          
                    <option value="25">25</option>          
                    <option value="26">26</option>          
                    <option value="27">27</option>          
                    <option value="28">28</option>          
                    <option value="29">29</option>          
                    <option value="30">30</option>          
                    <option value="31">31</option>          
                </select>
                &nbsp;일
            </td>        
            <td class="tdHeader">
                접촉시간
            </td>
            <td class="tdValue">
                <select id="contactTime" name="contactTime"  class="time_select2">
                    <option value="오전 9시~11시 이전"> 오전 9시~11시 이전</option>
                    <option value="오전 11시~오후 1시 이전"> 오전 11시~오후 1시 이전</option>
                    <option value="오후 1시~3시 이전"> 오후 1시~3시 이전</option>
                    <option value="오후 3시~5시 이전"> 오후 3시~5시 이전</option>
                    <option value="오후 5시~7시 이전"> 오후 5시~7시 이전</option>
                    <option value="오후 7시~9시 이전"> 오후 7시~9시 이전</option>
                    <option value="오후 9시 이후"> 오후 9시 이후</option>     
                </select>
            </td>
        </tr>      
        <tr >
            <td class="tdHeader" colspan="6">
                접촉 결과
            </td>
       </tr>
        <tr>
            <td class="tdValue" colspan="6">
                <input type="radio" name="contact" value="사전조사 협조(자동생성)" id="contact_01"  disabled="disabled"/> <label for="contact_01">사전조사 협조(자동생성)</label><br />
                <input type="radio" name="contact" value="본조사 협조(자동생성)" id="contact_02"  disabled="disabled"/> <label for="contact_02">본조사 협조(자동생성)</label><br />
                <input type="radio" name="contact" value="온라인조사 요청" id="contact_03" /> <label for="contact_03">온라인조사 요청</label><br />
                <input type="radio" name="contact" value="유치조사 요청" id="contact_04" /> <label for="contact_04">유치조사 요청</label><br />
                <input type="radio" name="contact" value="접촉안됨(부재)" id="contact_05" /> <label for="contact_05">접촉안됨(부재)</label><br />
                <input type="radio" name="contact" value="추적불가" id="contact_06" /> <label for="contact_06">추적불가</label><br />
                <input type="radio" name="contact" value="거절 : 설문조사 불신" id="contact_07" /> <label for="contact_07">거절 : 설문조사 불신</label><br />
                <input type="radio" name="contact" value="거절 : 조사 실효성 의문" id="contact_08" /> <label for="contact_08">거절 : 조사 실효성 의문 </label><br />
                <input type="radio" name="contact" value="거절 : 조사 여건 미흡" id="contact_09" /> <label for="contact_09">거절 : 조사 여건 미흡</label><br />
                <input type="radio" name="contact" value="거절 : 조사 동기 미흡" id="contact_10" /> <label for="contact_10">거절 : 조사 동기 미흡</label><br />
                <input type="radio" name="contact" value="거절 : 면접진행 중 불만" id="contact_11" /> <label for="contact_11">거절 : 면접진행 중 불만</label><br />
                <input type="radio" name="contact" value="거절 : 방문면접 방식 불만 제기" id="contact_12" /> <label for="contact_12">거절 : 방문면접 방식 불만 제기</label><br />
                <input type="radio" name="contact" value="거절 : 기타" id="contact_13" /> <label for="contact_13">거절 : 기타</label><br />
                <input type="radio" name="contact" value="강력거절(고소,고발 등 협박 수준으로 거절)" id="contact_14" /> <label for="contact_14">강력거절(고소,고발 등 협박 수준으로 거절)</label><br />
                <input type="radio" name="contact" value="사전조사 약속" id="contact_15" /> <label for="contact_15">사전조사 약속</label><br />
                <input type="radio" name="contact" value="본조사 약속" id="contact_16" /> <label for="contact_16">본조사 약속</label><br />
                <input type="radio" name="contact" value="기타" id="contact_17" /> <label for="contact_17">기타</label><br />

            </td>
        </tr>
        <tr>
            <td class="tdHeader" >
                세부 사유
            </td>
            <td class="tdValue" colspan="5">
                <input class="textbox" id="etc" name="etc" rows="1" size="60" type="text" value="" maxlength="100" />
                </td>
</tr>
           
         
    </table>

    <br />

        
    <table width="100%">
        <tr>
            <td align="center" width="80%">
                <input type="button" id="save" class="infoButton" value="저장 후 종료" />
                <input type="button" id="cancel" class="infoButton" value="나가기" />

                @if (ViewBag.사전조사오픈여부 == "가능")
                {
                    <td style="text-align:right;">
                    <input type="button" id="presurvey" class="infoButtonWide" value="사전조사 진행하기" />
                        </td>
                }
            </td>
        </tr>
    </table>
        
</body>
</html>
