@model List<TAPI_Interviewer.Models.q220678_Contact>
           
<html>
<head>
    @{  
        ViewBag.Title = "접촉 일지";
    }
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script type="text/javascript">
        $(document).ready(function () {

            setDisabled();

            $("select[name='contactMonth']").val("@ViewBag.contactMonth").attr("selected", "selected");
            $("select[name='contactDay']").val("@ViewBag.contactDay").attr("selected", "selected");
            $("select[name='contactTime']").val("@ViewBag.contactTime").attr("selected", "selected");


            $(":radio[name='contact']").change(function () {
                setDisabled();
            });


            $('#save').click(function () {

                var ranking = $(":hidden[name='ranking']").val();
                var contactMonth = $("select[name='contactMonth'] option:selected").text();
                var contactDay = $("select[name='contactDay'] option:selected").text();
                var contactTime = $("select[name='contactTime'] option:selected").text();

                var contact = $(":radio[name='contact']:checked").val();
                


                if (contact == undefined || contact == '') {
                    alert("비성공 사유를 선택해 주세요.")
                    return;
                }
               
                if (contact == "사망 및 실종" || contact == "장애등록자가 아님") {
                    alert("대체요청 해주세요");
                    return;
                }

                $.post("./ContactOK", {
                    "pid": '@ViewBag.pid', "ranking": ranking, "contact": contact, "contactMonth": contactMonth, "contactDay": contactDay, "contactTime": contactTime, "type": "저장"
                }, function (result) {
                    alert('저장 되었습니다.');

                    if (result == '저장') {
                        window.location.href = './List';
                    }
                }).error(function (jqXHR, status, error) {
                    alert(status);
                    alert(error);
                });
            });

            $('#trans').click(function () {

                var ranking = $(":hidden[name='ranking']").val();
                var contactMonth = $("select[name='contactMonth'] option:selected").text();
                var contactDay = $("select[name='contactDay'] option:selected").text();
                var contactTime = $("select[name='contactTime'] option:selected").text();

                var contact = $(":radio[name='contact']:checked").val();
                


                if (contact == undefined || contact == '') {
                    alert("비성공 사유를 선택해 주세요.")
                    return;
                }


                var msg = '';
                if (contact != "다른 주소로 방문 (변경 주소 알려줌)" ) {
                    msg = "'" + contact + "'은\r\n이관 요청 하실 수 없습니다";
                    alert(msg);
                    return;
                }

                var contactData = ranking+"|"+contactMonth+"|"+contactDay+"|"+contactTime+"|"+contact;
                window.location.href = './Transfer?cd=' + contactData + '&pid=@ViewBag.pid';


            });

            $('#replace').click(function () {

                var ranking = $(":hidden[name='ranking']").val();
                var contactMonth = $("select[name='contactMonth'] option:selected").text();
                var contactDay = $("select[name='contactDay'] option:selected").text();
                var contactTime = $("select[name='contactTime'] option:selected").text();

                var contact = $(":radio[name='contact']:checked").val();
                
                if (contact == undefined || contact == '') {
                    alert("비성공 사유를 선택해 주세요.")
                    return;
                }
                
                if (ranking <= 3 && contact == "외출로 인한 부재")
                {
                    alert("3회 이하 방문 시 '외출로 인한 부재'는\r\n대체 요청 하실 수 없습니다");
                    return;
                }

                if (contact == "다른 주소로 방문 (변경 주소 알려줌)")
                {
                    msg = "'" + contact + "'은\r\n대체 요청 하실 수 없습니다";
                    alert(msg);
                    return;
                }

                var contactData = ranking + "|" + contactMonth + "|" + contactDay + "|" + contactTime + "|" + contact ;
                window.location.href = './Replace?cd=' + contactData + '&pid=@ViewBag.pid';


                @*$.post("./ContactOK", {
                    "pid": '@ViewBag.pid', "ranking": ranking, "contact": contact, "etc": etc, "contactMonth": contactMonth, "contactDay": contactDay, "contactTime": contactTime, "type": "대체요청"
                }, function (result) {
                    alert('대체 요청 되었습니다.');

                    if (result == '저장') {
                        window.location.href = './List';
                    }
                }).error(function (jqXHR, status, error) {
                    alert(status);
                    alert(error);
                });*@


            });

        });

        function setDisabled() {

        }


    </script>
    <link href="@Url.Content("../../Content/q200494/Site.css?version=2")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/jquery.chained.min.js"></script>
    <script type="text/javascript" src="../../Scripts/RPS_Script.js"></script>
</head>
<body>
    <table class="infoTable">
        <tr>
            <td class="tdHeader">
                PID
            </td>
            <td class="tdValue">
                @ViewBag.pid
            </td>
        </tr>
        <tr>
            <td class="tdHeader">
                이름
            </td>
            <td class="tdValue">
                @ViewBag.이름
            </td>
        </tr>
        <tr>
            <td class="tdHeader">
                주소
            </td>
            <td class="tdValue">
                @ViewBag.주소
            </td>
        </tr>
    </table>

    @Html.DevExpress().GridView(
    settings =>
    {
        settings.Name = "방문리스트";
        settings.KeyFieldName = "방문 리스트";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);


        settings.Columns.Add(column =>
        {
            column.FieldName = "방문횟수";
            column.Caption = "방문 횟수";
            column.Width = System.Web.UI.WebControls.Unit.Pixel(100);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "방문일자";
            column.Caption = "방문 일자";
            column.Width = System.Web.UI.WebControls.Unit.Pixel(130);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "방문시간";
            column.Caption = "방문 시간";
            column.Width = System.Web.UI.WebControls.Unit.Pixel(180);
        });
     
        settings.Columns.Add(column =>
        {
            column.FieldName = "비성공사유";
            column.Caption = "비성공 사유";
            column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
            column.Width = System.Web.UI.WebControls.Unit.Pixel(400);
        });

        settings.Styles.Cell.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;

        settings.SettingsPager.Mode = GridViewPagerMode.ShowAllRecords;

        settings.Settings.ShowFilterRow = false;
        settings.Settings.ShowFilterRowMenu = false;
        settings.Settings.VerticalScrollableHeight = 150;
        settings.Settings.VerticalScrollBarMode = ScrollBarMode.Auto;
        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
    }).Bind(Model).GetHtml()

    <table class="infoTable">
        <tr>
            <td class="tdHeader">방문횟수</td>
            <td class="tdValue"><b>@ViewBag.Ranking</b>  회<input type="hidden" name="ranking" value="@ViewBag.Ranking" /></td>        
            <td class="tdHeader">
                방문일자
            </td>
            <td class="tdValue">
                <select id="contactMonth" name="contactMonth"  class="date_select">
                    <option value="01">01</option>          
                    <option value="02">02</option>          
                    <option value="03">03</option>          
                    <option value="04">04</option>          
                    <option value="05">05</option>          
                    <option value="06">06</option>          
                    <option value="07">07</option>          
                    <option value="08">08</option>          
                    <option value="09">09</option>          
                    <option value="10">10</option>          
                    <option value="11">11</option>          
                    <option value="12">12</option>          
                </select>
                &nbsp;월
                <select id="contactDay" name="contactDay"  class="date_select">
                    <option value="01">01</option>          
                    <option value="02">02</option>          
                    <option value="03">03</option>          
                    <option value="04">04</option>          
                    <option value="05">05</option>          
                    <option value="06">06</option>          
                    <option value="07">07</option>          
                    <option value="08">08</option>          
                    <option value="09">09</option>          
                    <option value="10">10</option>          
                    <option value="11">11</option>          
                    <option value="12">12</option>          
                    <option value="13">13</option>          
                    <option value="14">14</option>          
                    <option value="15">15</option>          
                    <option value="16">16</option>          
                    <option value="17">17</option>          
                    <option value="18">18</option>          
                    <option value="19">19</option>          
                    <option value="20">20</option>          
                    <option value="21">21</option>          
                    <option value="22">22</option>          
                    <option value="23">23</option>          
                    <option value="24">24</option>          
                    <option value="25">25</option>          
                    <option value="26">26</option>          
                    <option value="27">27</option>          
                    <option value="28">28</option>          
                    <option value="29">29</option>          
                    <option value="30">30</option>          
                    <option value="31">31</option>          
                </select>
                &nbsp;일
            </td>        
            <td class="tdHeader">
                방문시간
            </td>
            <td class="tdValue">
                <select id="contactTime" name="contactTime"  class="time_select2">
                    <option value="오전 7시 이전"> 오전 7시 이전 </option>
                    <option value="오전 7시~ 오전8시 이전"> 오전 7시~ 오전8시 이전 </option>
                    <option value="오전 8시~ 오전9시 이전"> 오전 8시~ 오전9시 이전 </option>
                    <option value="오전 9시~ 오전10시 이전"> 오전 9시~ 오전10시 이전 </option>
                    <option value="오전 10시~ 오전11시 이전"> 오전 10시~ 오전11시 이전</option>
                    <option value="오전 11시~ 오전12시 이전"> 오전 11시~ 오전12시 이전</option>
                    <option value="오전 12시~ 오후1시 이전"> 오전 12시~ 오후1시 이전 </option>
                    <option value="오후 1시~ 오후2시 이전"> 오후 1시~ 오후2시 이전 </option>
                    <option value="오후2시~ 오후3시 이전"> 오후2시~ 오후3시 이전 </option>
                    <option value="오후 3시~ 오후4시 이전"> 오후 3시~ 오후4시 이전 </option>
                    <option value="오후 4시~ 오후5시 이전"> 오후 4시~ 오후5시 이전 </option>
                    <option value="오후 5시~ 오후6시 이전"> 오후 5시~ 오후6시 이전 </option>
                    <option value="오후 6시~ 오후7시 이전"> 오후 6시~ 오후7시 이전 </option>
                    <option value="오후 7시~ 오후8시 이전"> 오후 7시~ 오후8시 이전 </option>
                    <option value="오후 8시~ 오후9시 이전"> 오후 8시~ 오후9시 이전 </option>
                    <option value="오후 9시~ 오후10시 이전"> 오후 9시~ 오후10시 이전 </option>
                    <option value="오후 10시~ 오후11시 이전"> 오후 10시~ 오후11시 이전</option>
                    <option value="오후 11시 이후"> 오후 11시 이후</option>     
                </select>
            </td>
        </tr>      
        <tr >
            <td class="tdHeader" colspan="6">
                비성공 사유
            </td>
       </tr>
        <tr>
            <td class="tdValue" colspan="6">
                <input type="radio" name="contact" value="조사협조" id="contact_1" disabled="disabled" /> <label for="contact_1">1. 조사협조</label><br />
                <input type="radio" name="contact" value="외출로 인한 부재" id="contact_2" /> <label for="contact_2">2. 외출로 인한 부재</label><br />
                <input type="radio" name="contact" value="다른 주소로 방문 (변경 주소 알려줌)" id="contact_3" /> <label for="contact_3">3. 다른 주소로 방문 (변경 주소 알려줌)</label><br />
                <input type="radio" name="contact" value="조사참여 거절" id="contact_4" /> <label for="contact_4">4. 조사참여 거절</label><br />
                <input type="radio" name="contact" value="고발 수준으로 강력거절" id="contact_5" /> <label for="contact_5">5. 고발 수준으로 강력거절</label><br />
                <input type="radio" name="contact" value="장기부재로 조사불가(입원, 해외체류 등)" id="contact_6" /> <label for="contact_6">6. 장기부재로 조사불가(입원, 해외체류 등)</label><br />
                <input type="radio" name="contact" value="추적불가(전화번호, 주소 모두 틀림)" id="contact_7" /> <label for="contact_7">7. 추적불가(전화번호, 주소 모두 틀림)</label><br />
                <input type="radio" name="contact" value="당사자 시설 입소" id="contact_8" /> <label for="contact_8">8. 당사자 시설 입소</label><br />
                <input type="radio" name="contact" value="당사자 사망 및 실종" id="contact_9" /> <label for="contact_9">9. 당사자 사망 및 실종</label><br />
                <input type="radio" name="contact" value="지적, 자폐성 장애 아님" id="contact_10" /><label for="contact_10">10. 지적, 자폐성 장애 아님</label><br />
                <input type="radio" name="contact" value="응답가능한 보호자가 없음" id="contact_11" /><label for="contact_11">11. 응답가능한 보호자가 없음</label><br />

            </td>
        </tr>
      
    </table>

    <br />

        
    <table width="100%">
        <tr>
            <td width="50%" align="left">
                <input type="button" id="trans" class="infoButtonPurple" value="이관" />
                @if (@ViewBag.경활중복 != "중복")
                {
                    <input type="button" id="replace" class="infoButtonOrange" value="대체요청" />
                }
            </td >
            <td align="right" width="50%">
                <input type="button" id="save" class="infoButton" value="저장 후 종료" />
            </td>
        </tr>
    </table>
        
</body>
</html>
