@model List<TAPI_Interviewer.Models.SP_KLIPS2022P_GETLISTResult>
<script type="text/javascript">
        $(document).ready(function () {

        });
</script>

<br />
<table class="infoTable" align="center">
    <tr>
        <td class="tdValue9" colspan="10"> <b>개인용 설문</b>
        <br />* 가구용 설문을 완료해야 개인용 설문을 시작할 수 있습니다.
        </td>
    </tr>
    <tr>
        <td class="tdValue9">
            PID
        </td>
        <td class="tdValue9">
            이름
        </td>
        <td class="tdValue9">
            만나이
        </td>
        <td class="tdValue9">
            성별
        </td>
        <td class="tdValue9">
            유형
        </td>
        <td class="tdValue9">
            설문 진행상태
        </td>
        <td class="tdValue9">
            개인용/신규용 설문참여
        </td>
        <td class="tdValue9">
            응답태도 진행상태
        </td>
        <td class="tdValue9">
            응답태도 설문참여
        </td>
        <td class="tdValue9">
            최종진행상태
        </td>
       
    </tr>


    @foreach (TAPI_Interviewer.Models.SP_KLIPS2022P_GETLISTResult list in Model)
    {
        <tr align="center">
            <td class="tdValue3c">
                @(list.PID)
            </td>

            <td class="tdValue3c">
                @(list.이름)
            </td>
            <td class="tdValue3c">
                @(list.나이)
            </td>

            <td class="tdValue3c">
                @(list.성별)
            </td>
            <td class="tdValue3c">
                @(list.유형)
            </td>
            <td class="tdValue3c">
                @(list.설문진행상태)
            </td>

            <td class="tdValue3c">
                @if (list.유형 == "기존")
                {
                    <input type="button" id="personStart" class="infoButtonT" style="margin-right: 10px;" value="진행하기" onclick="personSuveyClick( @(list.PID), '@(list.설문진행상태)');" />
                }
                else
                {
                    <input type="button" id="personStart" class="infoButtonT" style="margin-right: 10px;" value="진행하기" onclick="newPersonSuveyClick( @(list.PID), '@(list.설문진행상태)');" />
                }
            </td>

            <td class="tdValue3c">
                @(list.응답태도진행상태)
            </td>
            <td class="tdValue3c" align="center">
              
                    @if (list.설문진행상태 != "완료" )
                    {
                        <input type="button" id="personStart" class="infoButtonTdisabled" style="margin-right: 10px;" value="진행하기" disabled="disabled" />
                    }
                    else
                    {
                        <input type="button" id="personStart" class="infoButtonT" style="margin-right: 10px;" value="진행하기" onclick="attitudeSurveyClick( @(list.PID), '@(list.응답태도진행상태)');" />
                    }
                

            </td>
            <td class="tdValue3c">
                @(list.최종진행상태)
            </td>
        </tr>
                    }

</table>
<br />&nbsp;