@model List<TAPI_Interviewer.Models.KLIPS2022_Contact>
           
<html>
<head>
    @{  
        ViewBag.Title = "접촉일지";
    }
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script type="text/javascript">
        $(document).ready(function () {

            setDisabled();

            $("select[name='contactMonth']").val("@ViewBag.contactMonth").attr("selected", "selected");
            $("select[name='contactDay']").val("@ViewBag.contactDay").attr("selected", "selected");

            $(":radio[name='contact']").change(function () {
                setDisabled();
            });


            $('#cancel').click(function () {
                window.location.href = './AnswerInfo?hid='+@ViewBag.HID;
            });

            $('#save').click(function () {

                var ranking = $(":hidden[name='ranking']").val();
                var contactMonth = $("select[name='contactMonth'] option:selected").text();
                var contactDay = $("select[name='contactDay'] option:selected").text();
                var contactTime = $("select[name='contactTime'] option:selected").val();

                var contact = $(":radio[name='contact']:checked").val();
                var etc8 = $(":text[name='etc8']").val();
                

                if (contactTime == undefined || contactTime == '') {
                    alert("접촉 시간을 선택해 주세요.")
                    return;
                }

                if (contact == undefined || contact == '') {
                    alert("접촉 결과를 선택해 주세요.")
                    return;
                }
                if (etc8 == "" && contact=='약속') {
                    alert("'약속' 세부 내용을입력해 주세요.");
                    $("#etc8").focus();
                    return;
                }

                if (etc8 == "" && (contact=='기타' || contact == '사망')) {
                    alert("'기타' 세부 내용을입력해 주세요.");
                    $("#etc8").focus();
                    return;
                }


                $.post("./ContactOK", {
                    "hid": '@ViewBag.HID', "ranking": ranking, "contact": contact, "contactMonth": contactMonth, "contactDay": contactDay, "contactTime": contactTime, "etc7":'', "etc8":etc8
                }, function (result) {


                    if (result == '저장') {
                        alert('저장 되었습니다.');
                        window.location.href = './AnswerInfo?hid='+@ViewBag.HID;
                    }
                    else{
                        alert(result);
                    }
                }).error(function (jqXHR, status, error) {
                    alert(status);
                    alert(error);
                });
            });



        });

        function setDisabled() {

        }


    </script>
    <link href="@Url.Content("../../Content/q200494/Site.css?version=2")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/jquery.chained.min.js"></script>
    <script type="text/javascript" src="../../Scripts/RPS_Script.js"></script>
</head>
<body>
    <table class="infoTable">
        <tr>
            <td class="tdHeader">
                HID
            </td>
            <td class="tdValue">
                @ViewBag.HID
            </td>
        </tr>
        <tr>
            <td class="tdHeader">
                가구주 성함
            </td>
            <td class="tdValue">
                @ViewBag.가구주
            </td>
        </tr>
        <tr>
            <td class="tdHeader">
                주소
            </td>
            <td class="tdValue">
                @ViewBag.주소
            </td>
        </tr>
        <tr>
            <td class="tdHeader">
                집전화 번호
            </td>
            <td class="tdValue">
                @ViewBag.집전화
            </td>
        </tr>
        <tr>
            <td class="tdHeader">
                휴대전화 번호
            </td>
            <td class="tdValue">
                @ViewBag.휴대전화
            </td>
        </tr>
    </table>

    @Html.DevExpress().GridView(
    settings =>
    {
        settings.Name = "방문리스트";
        settings.KeyFieldName = "접촉 리스트";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);


        settings.Columns.Add(column =>
        {
            column.FieldName = "방문횟수";
            column.Caption = "접촉 횟수";
            column.Width = System.Web.UI.WebControls.Unit.Pixel(100);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "방문일자";
            column.Caption = "접촉 일자";
            column.Width = System.Web.UI.WebControls.Unit.Pixel(130);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "방문시간";
            column.Caption = "접촉 시간";
            column.Width = System.Web.UI.WebControls.Unit.Pixel(180);
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "비성공사유";
            column.Caption = "접촉 결과";
            column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
            column.Width = System.Web.UI.WebControls.Unit.Pixel(400);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "세부사유";
            column.Caption = "세부 사유";
            column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
            column.Width = System.Web.UI.WebControls.Unit.Pixel(400);
        });

        settings.Styles.Cell.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;

        settings.SettingsPager.Mode = GridViewPagerMode.ShowAllRecords;

        settings.Settings.ShowFilterRow = false;
        settings.Settings.ShowFilterRowMenu = false;
        settings.Settings.VerticalScrollableHeight = 150;
        settings.Settings.VerticalScrollBarMode = ScrollBarMode.Auto;
        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
    }).Bind(Model).GetHtml()

    <table class="infoTable">
        <tr>
            <td class="tdHeader">접촉횟수</td>
            <td class="tdValue"><b>@ViewBag.Ranking</b>  회<input type="hidden" name="ranking" value="@ViewBag.Ranking" /></td>        
            <td class="tdHeader">
                접촉일자
            </td>
            <td class="tdValue">
                <select id="contactMonth" name="contactMonth"  class="date_select">
                    <option value="01">01</option>          
                    <option value="02">02</option>          
                    <option value="03">03</option>          
                    <option value="04">04</option>          
                    <option value="05">05</option>          
                    <option value="06">06</option>          
                    <option value="07">07</option>          
                    <option value="08">08</option>          
                    <option value="09">09</option>          
                    <option value="10">10</option>          
                    <option value="11">11</option>          
                    <option value="12">12</option>          
                </select>
                &nbsp;월
                <select id="contactDay" name="contactDay"  class="date_select">
                    <option value="01">01</option>          
                    <option value="02">02</option>          
                    <option value="03">03</option>          
                    <option value="04">04</option>          
                    <option value="05">05</option>          
                    <option value="06">06</option>          
                    <option value="07">07</option>          
                    <option value="08">08</option>          
                    <option value="09">09</option>          
                    <option value="10">10</option>          
                    <option value="11">11</option>          
                    <option value="12">12</option>          
                    <option value="13">13</option>          
                    <option value="14">14</option>          
                    <option value="15">15</option>          
                    <option value="16">16</option>          
                    <option value="17">17</option>          
                    <option value="18">18</option>          
                    <option value="19">19</option>          
                    <option value="20">20</option>          
                    <option value="21">21</option>          
                    <option value="22">22</option>          
                    <option value="23">23</option>          
                    <option value="24">24</option>          
                    <option value="25">25</option>          
                    <option value="26">26</option>          
                    <option value="27">27</option>          
                    <option value="28">28</option>          
                    <option value="29">29</option>          
                    <option value="30">30</option>          
                    <option value="31">31</option>          
                </select>
                &nbsp;일
            </td>        
            <td class="tdHeader">
                접촉시간
            </td>
            <td class="tdValue">
                <select id="contactTime" name="contactTime"  class="time_select2">
                    <option value=""></option>
                    <option value="자정12시-오전1시">자정12시-오전1시</option>
                    <option value="오전1시-오전2시">오전1시-오전2시</option>
                    <option value="오전2시-오전3시">오전2시-오전3시</option>
                    <option value="오전3시-오전4시">오전3시-오전4시</option>
                    <option value="오전4시-오전5시">오전4시-오전5시</option>
                    <option value="오전5시-오전6시">오전5시-오전6시</option>
                    <option value="오전6시-오전7시">오전6시-오전7시</option>
                    <option value="오전7시-오전8시">오전7시-오전8시</option>
                    <option value="오전8시-오전9시">오전8시-오전9시</option>
                    <option value="오전9시-오전10시">오전9시-오전10시</option>
                    <option value="오전10시-오전11시">오전10시-오전11시</option>
                    <option value="오전11시-정오12시">오전11시-정오12시</option>
                    <option value="정오12시-오후1시">정오12시-오후1시</option>
                    <option value="오후1시-오후2시">오후1시-오후2시</option>
                    <option value="오후2시-오후3시">오후2시-오후3시</option>
                    <option value="오후3시-오후4시">오후3시-오후4시</option>
                    <option value="오후4시-오후5시">오후4시-오후5시</option>
                    <option value="오후5시-오후6시">오후5시-오후6시</option>
                    <option value="오후6시-오후7시">오후6시-오후7시</option>
                    <option value="오후7시-오후8시">오후7시-오후8시</option>
                    <option value="오후8시-오후9시">오후8시-오후9시</option>
                    <option value="오후9시-오후10시">오후9시-오후10시</option>
                    <option value="오후10시-오후11시">오후10시-오후11시</option>
                    <option value="오후11시-자정12시">오후11시-자정12시</option>  
                </select>
            </td>
        </tr>      
        <tr >
            <td class="tdHeader" colspan="6">
                접촉 결과
            </td>
       </tr>
        <tr>
            <td class="tdValue" colspan="6">                
                <input type="radio" name="contact" value="조사협조 (자동생성)" id="contact_1" disabled="disabled" /> <label for="contact_1"> 1. 조사협조 (자동생성)</label><br />
                <input type="radio" name="contact" value="거절" id="contact_2" /> <label for="contact_2"> 2. 거절</label><br />
                <input type="radio" name="contact" value="접촉안됨(부재)" id="contact_3" /> <label for="contact_3"> 3. 접촉안됨(부재)</label><br />
                <input type="radio" name="contact" value="이사추적중" id="contact_4" /> <label for="contact_4"> 4. 이사추적중</label><br />
                <input type="radio" name="contact" value="추적불가" id="contact_5" /> <label for="contact_5"> 5. 추적불가</label><br />
                <input type="radio" name="contact" value="강력거절(고소, 고발 등 협박 수준으로 거절)" id="contact_6" /> <label for="contact_6"> 6. 강력거절(고소, 고발 등 협박 수준으로 거절)</label><br />
                <input type="radio" name="contact" value="약속" id="contact_7" /> <label for="contact_7"> 7. 약속</label><br>@*<input class="textbox" id="etc7" name="etc7" rows="1" size="60" type="text" value="" maxlength="100" /><br />*@
                <input type="radio" name="contact" value="기타" id="contact_8" /> <label for="contact_8"> 8. 기타</label>&nbsp;<br />
                <input type="radio" name="contact" value="사망" id="contact_9" /> <label for="contact_9"> 9. 사망(사망일시 년/월을 아래 세부 사유에 작성해주세요)</label>&nbsp;<br />
                <input type="radio" name="contact" value="최종응답거절" id="contact_10" /> <label for="contact_10"> 10. 최종응답거절</label>&nbsp;<br />
                
                &nbsp;세부 사유 <input class="textbox" id="etc8" name="etc8" rows="1" size="60" type="text" value="" maxlength="100" /><br />
            </td>
        </tr>
        
           
         
    </table>

    <br />

        
    <table width="100%">
        <tr>
            <td align="center" width="50%">
                <input type="button" id="save" class="infoButton" value="저장 후 종료" />
                <input type="button" id="cancel" class="infoButton" value="나가기" />
                
            </td>
        </tr>
    </table>
        
</body>
</html>
