@model List<TAPI_Interviewer.Models.q220945_HouseContact>
           
<html>
<head>
    @{
        ViewBag.Title = "접촉 일지";
    }
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script type="text/javascript">
        $(document).ready(function () {
            $("select[name='contactMonth']").val("@ViewBag.contactMonth").attr("selected", "selected");
            $("select[name='contactDay']").val("@ViewBag.contactDay").attr("selected", "selected");
            $("select[name='contactHour']").val("@ViewBag.contactHour").attr("selected", "selected");
            $("select[name='contactMin']").val("@ViewBag.contactMin").attr("selected", "selected");

            $('#ok').click(function () {
                var contactMonth = $("select[name='contactMonth'] option:selected").text();
                var contactDay = $("select[name='contactDay'] option:selected").text();
                var contactHour = $("select[name='contactHour'] option:selected").text();
                var contactMin = $("select[name='contactMin'] option:selected").text();
                var etc = $(":text[name='etc']").val();
                var ranking = $(":hidden[name='ranking']").val();

                var status = $(":radio[name='contact']:checked").val();
                
                if (status == undefined || status == '') {
                    alert('비성공 사유를 선택 해 주세요.');
                    return;
                }

                if ((status == '기타(불응)' || status == '기타(불능)') && etc == '') {
                    alert('기타 사유를 입력 해 주세요.');
                    return;
                }

                var statusCode = $(":radio[name='contact']:checked").attr('id').replace(/contact_/gi, "");

                $.post("./SaveHouseContact", { "hid": '@(ViewBag.HID)', "contactMonth": contactMonth, "contactDay": contactDay, "contactHour": contactHour, "contactMin": contactMin, "statusCode": statusCode, "status": status, "etc": etc, "ranking": ranking }, function (result) {
                    if (result != '') {
                        alert(result);
                    }
                    else {
                        alert('저장 되었습니다.');
                        window.location.href = './PersonList?keyid=@(ViewBag.조사구일련번호)&hid=@(ViewBag.HID)';
                    }
                }).error(function (jqXHR, status, error) {
                    alert(status);
                    alert(error);
                });
            });

            $('#cancel').click(function () {
                window.location.href = './PersonList?keyid=@(ViewBag.조사구일련번호)&hid=@(ViewBag.HID)';
            });
        });
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="@Url.Content("../../Content/KLIPS/PanelInfo.css?version=4")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/RPS_Script.js" )"></script>
</head>
<body>
    @Html.DevExpress().GridView(
    settings =>
    {
        settings.Name = "ContactList";
        settings.KeyFieldName = "방문횟수";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

        settings.Columns.Add(column =>
        {
            column.FieldName = "방문횟수";
            column.Caption = "방문횟수";
            column.Width = System.Web.UI.WebControls.Unit.Pixel(100);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "방문일자";
            column.Caption = "방문일자";
            column.Width = System.Web.UI.WebControls.Unit.Pixel(130);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "방문시간";
            column.Caption = "방문시간";
            column.Width = System.Web.UI.WebControls.Unit.Pixel(180);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "비성공사유";
            column.Caption = "비성공사유";
            column.Width = System.Web.UI.WebControls.Unit.Pixel(180);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "비성공사유기타";
            column.Caption = "기타 이유";
            column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
            column.Width = System.Web.UI.WebControls.Unit.Pixel(200);
        });

        settings.Styles.Cell.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;

        settings.SettingsPager.Mode = GridViewPagerMode.ShowAllRecords;

        settings.Settings.ShowFilterRow = false;
        settings.Settings.ShowFilterRowMenu = false;
        settings.Settings.VerticalScrollableHeight = 150;
        settings.Settings.VerticalScrollBarMode = ScrollBarMode.Auto;
        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
    }).Bind(Model).GetHtml()

    <table class="infoTable">
        <tr>
            <td class="tdValue">방문횟수</td>
            <td class="tdValue3"><b>@ViewBag.Ranking</b>  회<input type="hidden" name="ranking" value="@ViewBag.Ranking" /></td>        
        </tr>
        <tr>
            <td class="tdValue">
                방문일자
            </td>
            <td class="tdValue3">
                <select id="contactMonth" name="contactMonth"  class="tel_select2">
                    <option value="01">01</option>          
                    <option value="02">02</option>          
                    <option value="03">03</option>          
                    <option value="04">04</option>          
                    <option value="05">05</option>          
                    <option value="06">06</option>          
                    <option value="07">07</option>          
                    <option value="08">08</option>          
                    <option value="09">09</option>          
                    <option value="10">10</option>          
                    <option value="11">11</option>          
                    <option value="12">12</option>          
                </select>
                &nbsp;월
                <select id="contactDay" name="contactDay"  class="tel_select2">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>
                &nbsp;일
            </td>
        </tr>
        <tr>
            <td class="tdValue">
                방문시간
            </td>
            <td class="tdValue3">
                <select id="contactHour" name="contactHour"  class="tel_select2">
                    <option value=""></option>
                    <option value="00">00</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                </select>
                &nbsp;시
                <select id="contactMin" name="contactMin" class="tel_select2">
                    <option value=""></option>
                    <option value="00">00</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                    <option value="46">46</option>
                    <option value="47">47</option>
                    <option value="48">48</option>
                    <option value="49">49</option>
                    <option value="50">50</option>
                    <option value="51">51</option>
                    <option value="52">52</option>
                    <option value="53">53</option>
                    <option value="54">54</option>
                    <option value="55">55</option>
                    <option value="56">56</option>
                    <option value="57">57</option>
                    <option value="58">58</option>
                    <option value="59">59</option>
                </select>
                &nbsp;분
            </td>
        </tr>
        <tr>
            <td class="tdValue">
                접촉 사유
            </td>
            <td class="tdValue3" colspan="5">
                <input type="radio" name="contact" value="가구 내 대상 가구원이 모두 응답함" id="contact_11" /><label for="contact_11">가구 내 대상 가구원이 모두 응답함</label><br />
                <input type="radio" name="contact" value="가구원 조사표 작성 진행 중" id="contact_21" /><label for="contact_21">가구원 조사표 작성 진행 중</label><br />
                <input type="radio" name="contact" value="부재 중(사람을 만나지 못하여 방문전 붙임 등)" id="contact_22" /><label for="contact_22">부재 중(사람을 만나지 못하여 방문전 붙임 등)</label><br />
                <input type="radio" name="contact" value="재방문 요청" id="contact_23" /><label for="contact_23">재방문 요청</label><br />
                <input type="radio" name="contact" value="사생활 노출 기피" id="contact_31" /><label for="contact_31">사생활 노출 기피</label><br />                
                <input type="radio" name="contact" value="가정 사정(실업, 부부이혼 등)" id="contact_32" /><label for="contact_32">가정 사정(실업, 부부이혼 등)</label><br />
                <input type="radio" name="contact" value="바쁘거나 귀찮아서" id="contact_33" /><label for="contact_33">바쁘거나 귀찮아서</label><br />
                <input type="radio" name="contact" value="정부 불신" id="contact_34" /><label for="contact_34">정부 불신</label><br />
                <input type="radio" name="contact" value="기타(불응)" id="contact_35" /><label for="contact_35">기타(불응)</label><br />
                <input type="radio" name="contact" value="장기 출타" id="contact_41" /><label for="contact_41">장기 출타</label><br />
                <input type="radio" name="contact" value="고령" id="contact_42" /><label for="contact_42">고령</label><br />
                <input type="radio" name="contact" value="장애" id="contact_43" /><label for="contact_43">장애</label><br />
                <input type="radio" name="contact" value="빈집" id="contact_44" /><label for="contact_44">빈집</label><br />
                <input type="radio" name="contact" value="기타(불능)" id="contact_49" /><label for="contact_49">기타(불능)</label><br />
                <input type="radio" name="contact" value="조사대상연령(만 25~54세)대의 여성이 없음(가구원명부 작성)" id="contact_91" /><label for="contact_91">조사대상연령(만 25~54세)대의 여성이 없음(가구원명부 작성)</label><br />
            </td>
        </tr>
        <tr>
            <td class="tdValue">
                기타 사유
            </td>
            <td class="tdValue3" colspan="5">
                <input class="textbox" id="etc" name="etc" rows="1" size="30" type="text" value="" maxlength="100" />
            </td>
        </tr>
    </table>

    <div class="buttonDiv">
        <center>
            <input type="button" id="ok" class="infoButton" value="저장 후 종료" />
            <input type="button" id="cancel" class="infoButton" value="나가기" />
        </center>
    </div>
</body>
</html>
