@model List<TAPI_Interviewer.Models.SP_q220945_GETPERSONLISTResult>

<!DOCTYPE html>

<html>
<head>
    @{
        ViewBag.Title = "2022년 경력단절여성 등의 경제활동 실태조사";

        string[] tel = string.IsNullOrEmpty(ViewBag.응답자연락처) == true ? new string[] { "" } : ViewBag.응답자연락처.Trim().Split('-');
        
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $("select[name='hType']").val("@(ViewBag.주택유형)").attr("selected", "selected");
            $("select[name='tel1']").val("@(tel[0])").attr("selected", "selected");
            @*$("select[name='daeche']").val("@(ViewBag.가구원대체)").attr("selected", "selected");*@

            $('#writeContactHouse').click(function () {
                window.location.href = './HouseContact?keyid=@(ViewBag.조사구일련번호)&hid=@(ViewBag.HID)';
            });

            $('#save').click(function () {
                saveInfo('./HouseList?keyid=@(ViewBag.조사구일련번호)', false);
            });

            $('#exit').click(function () {
                window.location.href = './HouseList?keyid=@(ViewBag.조사구일련번호)';
            });

            $('#createPerson').click(function () {
                saveInfo('./PersonInfo?keyid=@(ViewBag.조사구일련번호)&hid=@(ViewBag.HID)&pid=0', true);
            });

            $('input[type=tel]').keydown(function (event) {
                var charCode = (event.which) ? event.which : event.keyCode;

                if (isNumeric(charCode, this) == false) {
                    event.preventDefault();
                }
            });
        });

        function saveInfo(href, addPerson) {
            var hType = $("select[name='hType'] option:selected").val();
            var tel1 = $("select[name='tel1'] option:selected").val();
          

            var tel = tel1;

            var roadAddrPart1 = $("#roadAddrPart1").val();
            var jibunAddr = $("#jibunAddr").val();
            var sebuAddr1 = $("#sebuAddr1").val();
            var sebuAddr2 = $("#sebuAddr2").val();
            var hTypeEtc = $("#hTypeEtc").val();
            var pname = $("#pname").val();
           
            var personCount = $("#personCount").val();

          


            if (tel1 != '없음') {
                tel = tel1 + '-' + $("#tel2").val() + '-' + $("#tel3").val();

                if (isTelePhone(tel) == false &&
                    isCellPhone(tel) == false) {
                    $("#tel2").focus();
                    alert('유효한 연락처를 입력 해 주세요.');
                    return;
                }
            }

            if (pname == '') {
                $("#pname").focus();
                alert('이름을 입력 해 주세요.');
                return;
            }

            if (pname.length > 50) {
                $("#pname").focus();
                alert('이름을 50자 이내로 입력 해 주세요.');
                return;
            }

           

            if (hType == "")
            {
                alert("주택유형을 선택 해 주세요.");
                $('#hType').focus();
                return;
            }

            if (hType == "기타" && $.trim(hTypeEtc) == "")
            {
                $('#hTypeEtc').focus();
                alert("주택유형 기타 내용을 입력 해 주세요.");
                return;
            }

            if (hType != "기타")
            {
                hTypeEtc = '';
                $('#hTypeEtc').val(hTypeEtc);
            }

            if (personCount == '' || parseInt(personCount) == 0)
            {
                $('#personCount').focus();
                alert("총 가구원 수를 입력 해 주세요.")
                return;
            }
            
            var address = '';
            var sebuaddr =  $("#sebuAddr1").val();

            if(roadAddrPart1 != '')
            {
                address = roadAddrPart1;
                sebuaddr = sebuAddr2;
            }
            
            if( sebuaddr == '')
            {
                alert('세부 주소를 입력 해 주세요.');
                return;
            }

            

            $.post("./SaveInfo", { "keyid": @(ViewBag.조사구일련번호), "hid": @(ViewBag.HID), "address": address, "sebuAddr": sebuaddr, "pname": pname, "hType": hType, "hTypeEtc": hTypeEtc, "tel": tel, "personCount": personCount  }, function (result) {
                if (result != '')
                {
                    alert(result);
                }
                else
                {
                    if (addPerson == true)
                    {
                        $.post("./CreatePerson", { "keyid": @(ViewBag.조사구일련번호), "hid": @(ViewBag.HID) }, function (result) {
                            if (result != '')
                            {
                                alert(result);
                            }
                            else
                            {
                                location.reload();
                            }
                        }).error(function (jqXHR, status, error) {
                            alert(status);
                            alert(error);
                        });
                    }
                    else
                    {
                        window.location.href = href;
                    }
                }
            }).error(function (jqXHR, status, error) {
                alert(status);
                alert(error);
            });
        }

        function isTelePhone(p) {
            p = p.split('-').join('');

            var regPhone = /^(0(2|3[1-3]|4[1-4]|5[1-5]|6[1-4]|70|505))[1-9]+[0-9]{6,7}$/;

            return regPhone.test(p);
        }

        function isCellPhone(p) {
            p = p.split('-').join('');

            var regPhone = /^((01[1|6|7|8|9])[1-9]+[0-9]{6,7})|(010[1-9][0-9]{7})$/;

            return regPhone.test(p);
        }

        function runSurvey(pid) {
            if (pid != null) {
                window.location.href = './PersonInfo?keyid=@(ViewBag.조사구일련번호)&hid=@(ViewBag.HID)&pid=' + pid
            }
        }
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="@Url.Content("../../Content/KLIPS/PanelInfo.css?version=5")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/RPS_Script.js"></script>
</head>
<body>
    <div style="width : 100%;display: inline-block;">
        @Html.Partial("CommonAddressSearchScript")

        <table class="infoTable">
            <tr>
                <td class="tdValue">
                    가구일련번호
                </td>                
                <td class="tdValue3" colspan="5">
                    @(ViewBag.HID)
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    조사구 일련번호
                </td>
                <td class="tdValue3" colspan="5">
                    @(ViewBag.조사구일련번호)
                </td>
              
            </tr>
            <tr>
                <td class="tdValue">
                    거처번호
                </td>
                <td class="tdValue3">
                    <input class="textbox" id="param1" rows="1" size="4" type="tel" value="@(ViewBag.거처번호.Trim())" maxlength="3" readonly="readonly" />
                </td>
                <td class="tdValue">
                    가구번호
                </td>
                <td class="tdValue3">
                    <input class="textbox" id="param2" rows="1" size="4" type="tel" value="@(ViewBag.가구번호.Trim())" maxlength="3" readonly="readonly" />
                </td>
                <td class="tdValue">
                    가구표본유형
                </td>
                <td class="tdValue3">

                    <input class="textbox" id="daeche" rows="1" size="4" type="tel" value="@(ViewBag.가구원대체.Trim())"  readonly="readonly" />
                    @*<select id="daeche" name="daeche" class="tel_select2">
                        <option></option>
                        <option value='원'>원</option>
                        <option value='대체'>대체</option>
                    </select>*@
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    기존 주소
                </td>
                <td class="tdValue3" colspan="5">
                    @(ViewBag.주소)
                    <input class="textbox" type="text" id="sebuAddr1" maxlength="50" placeholder="상세주소 예)105동 123호" title="상세주소" style="width:50%" value="@(ViewBag.세부주소)">
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    새주소 입력
                </td>
                <td class="tdValue3" style="padding:10px;" colspan="5">
                    <input type="button" class="infoButton" value="주소검색" onclick="jusoPopUp();" style="cursor: pointer;" id="searchJusoButton"> ◀ 주소검색버튼을 클릭하세요.<br />
                    <input class="textbox" type="text" id="roadAddrPart1" placeholder="도로명주소 예) 서울특별시 강남구 봉은사로 179" readonly="readonly" title="도로명주소" style="width:80%" value="@(ViewBag.새주소)"><br />
                    <input class="textbox" type="text" id="jibunAddr" placeholder="지번주소 예) 서울특별시 강남구 논현동 192-19 H타워" readonly="readonly" title="지번주소" style="width:80%" value="@(ViewBag.지번주소)"><br />
                    <input class="textbox" type="text" id="sebuAddr2" maxlength="50" placeholder="상세주소 예)105동 123호" title="상세주소" style="width:80%" value="@(ViewBag.세부주소2)">
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    주택유형
                </td>
                <td class="tdValue3" colspan="5">
                    <select id="hType" name="hType" class="tel_select2">
                        <option></option>
                        <option value='단독주택'>단독주택</option>
                        <option value='아파트'>아파트</option>
                        <option value='연립/다세대주택'>연립/다세대주택</option>
                        <option value='기타'>기타</option>
                    </select>
                    기타 : <input class="textbox" id="hTypeEtc" rows="1" size="13" type="text" value="@(ViewBag.주택유형기타)">
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    응답자 성명
                </td>
                <td class="tdValue3" colspan="5">
                    <input class="textbox" id="pname" rows="1" size="13" type="text" value="@(ViewBag.응답자성명)">
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    응답자 연락처
                </td>
                <td class="tdValue3" colspan="5">
                    <select id="tel1" name="tel1" class="tel_select2">
                        <option></option>
                        <option value='010'>010</option>
                        <option value='011'>011</option>
                        <option value='016'>016</option>
                        <option value='017'>017</option>
                        <option value='018'>018</option>
                        <option value='019'>019</option>
                        <option value='02'>서울 02</option>
                        <option value='051'>부산 051</option>
                        <option value='053'>대구 053</option>
                        <option value='032'>인천 032</option>
                        <option value='062'>광주 062</option>
                        <option value='042'>대전 042</option>
                        <option value='052'>울산 052</option>
                        <option value='044'>세종 044</option>
                        <option value='031'>경기 031</option>
                        <option value='033'>강원 033</option>
                        <option value='043'>충북 043</option>
                        <option value='041'>충남 041</option>
                        <option value='063'>전북 063</option>
                        <option value='061'>전남 061</option>
                        <option value='054'>경북 054</option>
                        <option value='055'>경남 055</option>
                        <option value='064'>제주 064</option>
                        <option value='070'>인터넷전화 070</option>
                    </select>
                    - <input class="textbox" id="tel2" rows="1" size="4" type="tel" value="@(tel.Length <= 1 ? "" : tel[1])" maxlength="4">
                    - <input class="textbox" id="tel3" rows="1" size="4" type="tel" value="@(tel.Length <= 1 ? "" : tel[2])" maxlength="4">
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    만 25세 - 54세 여성 적격 가구원 수
                </td>
                <td class="tdValue3" colspan="5">
                    <input class="textbox" id="personCount" rows="1" size="4" type="tel" value="@(ViewBag.총가구원수)" maxlength="2" />
                </td>
            </tr>
        </table>
        <div class="buttonDiv">
            <center>
                <input type="button" id="writeContactHouse" class="infoButton" style="margin-right: 30px;" value="가구접촉일지" />
                @*<input type="button" id="save" class="infoButton" style="margin-right: 60px;" value="저장 후 닫기" />*@
                <input type="button" id="createPerson" class="infoButtonWide" style="margin-right: 30px;" value="저장 및 가구원 추가" />
                <input type="button" id="exit" class="infoButton" style="margin-right: 60px;" value="닫기" />
            </center>
        </div>
        <div style="overflow-x:scroll;width:100%;">
            @Html.Partial("PersonListPartial", Model)
        </div>
    </div>
</body>
</html>