@model TAPI_Interviewer.Models.KLIPS2022_HouseList


<!DOCTYPE html>

<html>
<head>
    @{
        ViewBag.Title = "2022년 제25차 한국 노동패널 조사";

        
    }

    <script type="text/javascript">
        $(document).ready(function () {

            $('#contact').click(function () {
                if ('@(Model.진행상태)' == '완료') {
                    if (!confirm('완료 데이터가 있습니다. 비성공 하시겠습니까?')) {
                        return;
                    }
                }

                window.location.href = './Contact?hid=@(Model.HID)';
            });



            $('#survey').click(function () {
                if ('@Model.동의여부' == '동의') {
                    window.location.href = './AnswerInfo?hid=@(Model.HID)';
                }
                else {
                    window.location.href = './Agree?hid=@(Model.HID)';
                }
            });

            $('#transfer').click(function () {
                window.location.href = './Transfer?hid=@(Model.HID)';
            });



            $('#exit').click(function () {
                window.location.href = './List';
            });

        });



    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="@Url.Content("../../Content/q200494/PanelInfo.css?version=5")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/RPS_Script.js"></script>
</head>
<body>
    @Html.Partial("CommonAddressSearchScript")

    <div id="main" style="width:100%;">
        <table class="infoTable">
            <tr>
                <td class="tdValue" style="width:17%;">
                   HID
                </td>
                <td class="tdValue3" style="width:71%;">
                    
                    <input class="textbox" type="text" id="pid" style="width:50%" value="@(Model.HID)" disabled="disabled">
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    가구주 성명
                </td>
                <td class="tdValue3">
                    <input class="textbox" type="text" id="name" style="width:50%" value="@(Model.가구주성명)" disabled="disabled">
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    주소
                </td>
                <td class="tdValue3">
                    <input class="textbox" type="text" id="addr" style="width:50%" value="@(Model.조사주소)" disabled="disabled">
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    전화번호
                </td>
                <td class="tdValue3">
                    <input class="textbox" type="text" id="ctel" style="width:50%" value="@(Model.집전화)" disabled="disabled">
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    휴대전화번호
                </td>
                <td class="tdValue3">
                    <input class="textbox" type="text" id="ctel" style="width:50%" value="@(Model.휴대전화)" disabled="disabled">
                </td>
            </tr>

        </table><br />
    </div>

        <div class="buttonDiv">
            <center>
                <br />&nbsp;
                <br />&nbsp;
                <br />&nbsp;
                <input type="button" id="contact" class="infoButtonRed" style="margin-right: 10px;" value="비성공 " />
                <input type="button" id="survey" class="infoButtonBlue" style="margin-right: 10px;" value="설문 시작" />
                <input type="button" id="transfer" class="infoButtonBlue" style="margin-right: 10px;" value="이관" />
                <input type="button" id="exit" class="infoButton" style="margin-right: 10px;" value="닫기" />
            </center>
        </div>

</body>
</html>