@model List<TAPI_Interviewer.Models.SP_q220614_GETPERSONLISTResult>

<!DOCTYPE html>

<html>
<head>
    @{
        ViewBag.Title = "2022년 인권의식실태조사";

        string[] tel = string.IsNullOrEmpty(ViewBag.집전화) == true ? new string[] { "" } : ViewBag.집전화.Trim().Split('-');
        string[] phone = string.IsNullOrEmpty(ViewBag.휴대전화) == true ? new string[] { "" } : ViewBag.휴대전화.Trim().Split('-');
        
    }

    <script type="text/javascript">

        function personInfoClick(pid, status)
        {
            if(status=='완료')
            {
                alert('조사를 완료했습니다.');
                return;
            }

            if(@(ViewBag.생성가구원수) < @(ViewBag.가구원수))
            {
                alert('가구원을 모두 생성 후 진행해 주세요');
                return;
            }
            else if  (@(ViewBag.생성가구원수)  > 0 && @(ViewBag.가구원수)==0)
            {
                alert('가구원수를 입력 후 저장해 주세요');
                return;
            }

            $.post("./PersonInfoCheck", { "keyid": @(ViewBag.HRC일련번호), "hid": @(ViewBag.가구일련번호)}, function (result) {
                if (result != '')
                {
                    alert(result);
                }
                else
                {
                    window.location.href = './PersonInfo?keyid=@(ViewBag.HRC일련번호)&hid=@(ViewBag.가구일련번호)&pid='+pid;
                }
            }).error(function (jqXHR, status, error) {
                alert(status);
                alert(error);
            });


        }

        $(document).ready(function () {

            $("select[name='tel1']").val("@(tel[0])").attr("selected", "selected");
            $("select[name='phone1']").val("@(phone[0])").attr("selected", "selected");

            $("#ftype").on('change',function () {
                var ftype = $("select[name='ftype'] option:selected").val();
                if(ftype=='9.기타')
                {
                    $("#fTypeEtc").prop('disabled', false);
                }
                else
                {
                    $("#fTypeEtc").val('');
                    $("#fTypeEtc").prop('disabled', true);
                }
            });

            $('#save').click(function () {

                var personCount = $("#personCount").val();
                if(personCount  == 0)
                {
                    alert('가구원 수를 입력해 주세요.');
                    return;
                }

                if( $("select[name='ftype'] option:selected").val() != '')
                {
                    if(confirm(" 입력한 가구원 정보가 있습니다. \r가구원 추가를 눌러 생성을 완료해주십시오. "))
                    {
                        return;
                    }
                }
                saveInfo('./PersonList?keyid=@(ViewBag.HRC일련번호)&hid=@(ViewBag.가구일련번호)', false);
            });

            $('#exit').click(function () {
                window.location.href = './HouseList?keyid=@(ViewBag.HRC일련번호)';
            });

            $('#createPerson').click(function () {
               

                saveInfo('./PersonList?keyid=@(ViewBag.HRC일련번호)&hid=@(ViewBag.가구일련번호)', true);
            });



            $('input[type=tel]').keydown(function (event) {
                var charCode = (event.which) ? event.which : event.keyCode;

                if (isNumeric(charCode, this) == false) {
                    event.preventDefault();
                }
            });
        });



        function saveInfo(href, addPerson) {

            var tel1 = $("select[name='tel1'] option:selected").val();
            var phone1 = $("select[name='phone1'] option:selected").val();

            var tel = tel1;
            var phone = phone1;

            var sebuAddr = $("#sebuAddr").val();

            var personCount = $("#personCount").val();
            
            var memo = $("#houseMemo").val();

            if (tel1 != '') {
                tel = tel1 + '-' + $("#tel2").val() + '-' + $("#tel3").val();

                if (isTelePhone(tel) == false ) {
                    $("#tel2").focus();
                    alert('유효한 집전화 번호를 입력 해 주세요.');
                    return;
                }
            }
            if (phone1 != '') {
                phone = phone1 + '-' + $("#phone2").val() + '-' + $("#phone3").val();
                alert(phone);
                if (isCellPhone(phone) == false) {
                    $("#phone2").focus();
                    alert('유효한 휴대전화 번호를 입력 해 주세요.');
                    return;
                }
            }

            if(tel1 =='' && phone1 == '')
            {
                alert('집전화 또는 휴대전화 번호를 입력 해 주세요.');
                return;
            }


            if (personCount == '' || personCount == '0')
            {
                alert('가구원수를 확인 해 주세요.');
                return;
            }

            if (addPerson == true)
            {
                var ftype = $("select[name='ftype'] option:selected").val();
                var fTypeEtc = $("#fTypeEtc").val();
                if( ftype=='')
                {
                    alert('가구주와의 관계를 선택해 주세요.');
                    $("#ftype").focus();
                    return;
                }
                else if( ftype=='9.기타' && fTypeEtc=='')
                {
                    alert('가구주와의 관계 기타를 입력해 주세요.');
                    $("#fTypeEtc").focus();
                    return;
                }

                var name = $("#name").val();
                if( name == '')
                {
                    alert('가구원 성명을 입력해 주세요.');
                    $("#name").focus();
                    return;
                }

                var gender = $("select[name='gender'] option:selected").val();
                if( gender == '')
                {
                    alert('가구원 성별을 선택해 주세요.');
                    $("#gender").focus();
                    return;
                }

                var byear = $("#byear").val();
                if( byear == '')
                {
                    alert('가구원 출생년도를 입력해 주세요');
                    return;
                }

                if( byear < 1900 || byear > 2022)
                {
                    alert('가구원 출생년도를 확인해 주세요');
                    return;
                }
            }

            if (addPerson == true)
            {
                $.post("./CreatePerson", { "keyid": @(ViewBag.HRC일련번호), "hid": @(ViewBag.가구일련번호), "ftype":ftype, "fTypeEtc":fTypeEtc, "name":name, "gender":gender, "byear":byear, "sebuAddr": sebuAddr, "tel": tel, "phone": phone, "personCount": personCount,"houseMemo":memo }, function (result) {
                    if (result != '')
                    {
                        alert(result);
                        location.reload();
                    }
                    else
                    {
                        location.reload();

                    }
                }).error(function (jqXHR, status, error) {
                    alert(status);
                    alert(error);
                });
            }
            else
            {
                $.post("./SaveInfo", { "keyid": @(ViewBag.HRC일련번호), "hid": @(ViewBag.가구일련번호), "sebuAddr": sebuAddr, "tel": tel, "phone": phone, "personCount": personCount, "houseMemo":memo}, function (result) {
                    if (result != '')
                    {
                        alert(result);
                    }
                    else
                    {
                        alert("저장되었습니다.");
                        window.location.href = href;
                    }
                }).error(function (jqXHR, status, error) {
                    alert(status);
                    alert(error);
                });
            }


        }

        function isTelePhone(p) {
            p = p.split('-').join('');

            var regPhone = /^(0(2|3[1-3]|4[1-4]|5[1-5]|6[1-4]|70|505))[1-9]+[0-9]{6,7}$/;

            return regPhone.test(p);
        }

        function isCellPhone(p) {
            p = p.split('-').join('');

            var regPhone = /^((01[1|6|7|8|9])[1-9]+[0-9]{6,7})|(010[1-9][0-9]{7})$/;

            return regPhone.test(p);
        }

        function runSurvey(pid) {
            if (pid != null) {
                window.location.href = './Survey?keyid=@(ViewBag.HRC일련번호)&hid=@(ViewBag.가구일련번호)&pid=' + pid;
            }
        }
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="@Url.Content("../../Content/q210801/PanelInfo.css?version=4")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/RPS_Script.js"></script>
</head>
<body>
    <div style="width : 100%;display: inline-block;">
        @Html.Partial("CommonAddressSearchScript")

        <table class="infoTable">
            <tr>
                <td class="tdValue">
                    가구일련번호
                </td>
                <td class="tdValue3">
                    @(ViewBag.가구일련번호)
                </td>
            </tr>

            <tr>
                <td class="tdValue">
                    가구번호
                </td>                
                <td class="tdValue3" >
                    @(ViewBag.가구번호)
                </td>
            </tr>
            
            <tr>
                <td class="tdValue">
                    거처번호
                </td>
                <td class="tdValue3">
                    @(ViewBag.거처번호)
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    주소
                </td>
                <td class="tdValue3" >
                    @(ViewBag.주소)                    
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    세부 주소(건물명)
                </td>
                <td class="tdValue3">                    
                    <input class="textbox" type="text" id="sebuAddr" maxlength="50" style="width:50%" value="@(ViewBag.세부주소)">
                </td>
          
            <tr>
                <td class="tdValue">
                    집전화
                </td>
                <td class="tdValue3" >
                    <select id="tel1" name="tel1" class="tel_select2">
                        <option></option>
                        <option value='02'>서울 02</option>
                        <option value='051'>부산 051</option>
                        <option value='053'>대구 053</option>
                        <option value='032'>인천 032</option>
                        <option value='062'>광주 062</option>
                        <option value='042'>대전 042</option>
                        <option value='052'>울산 052</option>
                        <option value='044'>세종 044</option>
                        <option value='031'>경기 031</option>
                        <option value='033'>강원 033</option>
                        <option value='043'>충북 043</option>
                        <option value='041'>충남 041</option>
                        <option value='063'>전북 063</option>
                        <option value='061'>전남 061</option>
                        <option value='054'>경북 054</option>
                        <option value='055'>경남 055</option>
                        <option value='064'>제주 064</option>
                        <option value='070'>인터넷전화 070</option>
                    </select>
                    - <input class="textbox" id="tel2" rows="1" size="4" type="tel" value="@(tel.Length <= 1 ? "" : tel[1])" maxlength="4">
                    - <input class="textbox" id="tel3" rows="1" size="4" type="tel" value="@(tel.Length <= 1 ? "" : tel[2])" maxlength="4">
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    가구주/가구주의 배우자 휴대전화
                </td>
                <td class="tdValue3" >
                    <select id="phone1" name="phone1" class="tel_select2">
                        <option></option>
                        <option value='010'>010</option>
                        <option value='011'>011</option>
                        <option value='016'>016</option>
                        <option value='017'>017</option>
                        <option value='018'>018</option>
                        <option value='019'>019</option>
                    </select>
                    - <input class="textbox" id="phone2" rows="1" size="4" type="tel" value="@(phone.Length <= 1 ? "" : phone[1])" maxlength="4">
                    - <input class="textbox" id="phone3" rows="1" size="4" type="tel" value="@(phone.Length <= 1 ? "" : phone[2])" maxlength="4">
                </td>
            </tr>
            <tr>
                <td class="tdValue" colspan="2">
                    * 귀 댁의 가구원 수는 몇 명입니까? 
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    가구원 수
                </td>
                <td class="tdValue3">
                    <input class="textbox" id="personCount" rows="1" size="4" type="tel" value="@(ViewBag.가구원수)" maxlength="2" />
                </td>              
            </tr>
            <tr>
                <td class="tdValue">
                    적격가구원 수
                </td>
                <td class="tdValue3">
                    @(ViewBag.적격가구원수)                    
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    완료가구원 수
                </td>
                <td class="tdValue3">
                    @(ViewBag.완료가구원수)
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    가구 특이사항 메모
                </td>
                <td class="tdValue3">
                    <textarea  id="houseMemo" rows="4"  style="width:80%; font-size:18px;"   >@(ViewBag.가구특이사항메모)</textarea>
                    
                </td>
            </tr>
        </table>
       
        <br />
        <br />
        <table class="infoTable">
            <tr>
                <td class="tdValue" colspan="2">
                    가구원 정보 입력
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    가구주와의 관계
                </td>
                <td class="tdValue3">
                    <select id="ftype" name="ftype" class="tel_select9">
                        <option></option>
                        <option value='1.가구주'>가구주</option>
                        <option value='2.가구주의 배우자'>가구주의 배우자</option>
                        <option value='3.미혼자녀'>미혼자녀</option>
                        <option value='4.기혼자녀(배우자의 기혼자녀 포함)'>기혼자녀(배우자의 기혼자녀 포함)</option>
                        <option value='5.손자손녀(배우자의 손자손녀 포함)'>손자손녀(배우자의 손자손녀 포함)</option>
                        <option value='6.부모(배우자의 부모 포함)'>부모(배우자의 부모 포함)</option>
                        <option value='7.조부모(배우자의 조부모 포함)'>조부모(배우자의 조부모 포함)</option>
                        <option value='8.형제자매(배우자의 형제자매 포함)'>형제·자매(배우자의 형제자매 포함)</option>
                        <option value='9.기타'>기타</option>
                    </select>
                    기타 : <input class="textbox" id="fTypeEtc" rows="1" size="13" type="text" value="" disabled="disabled">
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    성명
                </td>
                <td class="tdValue3">
                    <input class="textbox" id="name" rows="1" size="13" type="text">
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    성별
                </td>
                <td class="tdValue3">
                    <select id="gender" name="gender" class="tel_select2">
                        <option></option>
                        <option value='남'>남</option>
                        <option value='여'>여</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tdValue">
                    출생년도
                </td>
                <td class="tdValue3">
                    <input class="textbox" id="byear" rows="1" size="8" type="text">년
                </td>
            </tr>
        </table>
        <div class="buttonDiv">
            <center>
                <input type="button" id="save" class="infoButton" style="margin-right: 60px;" value="저장" />
                <input type="button" id="createPerson" class="infoButton" style="margin-right: 60px;" value="가구원 추가" />
                <input type="button" id="exit" class="infoButton" style="margin-right: 60px;" value="닫기" />
            </center>
        </div>
        <div style="overflow-x:scroll;width:100%;">
            @Html.Action("PersonListPartial", "q220614", new { keyid = @ViewBag.HRC일련번호, hid=@ViewBag.가구일련번호 })            
        </div>
    </div>
</body>
</html>